force-app/main/default/flows/Assign_Product_in_Brand_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Current_Brand</name>
        <label>Assign Current Brand</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmOAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Null</name>
        <label>Assign Null</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product</name>
        <label>Assign Product</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BrandRelationship__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmKAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Current_Brand</name>
        <label>Copy 11 of Assign Current Brand</label>
        <locationX>3218</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmNAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Current_Brand</name>
        <label>Copy 12 of Assign Current Brand</label>
        <locationX>3482</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t2j000000OLSwAAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_Current_Brand</name>
        <label>Copy 13 of Assign Current Brand</label>
        <locationX>3746</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t2j000000OLT1AAO</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_14_of_Assign_Current_Brand</name>
        <label>Copy 14 of Assign Current Brand</label>
        <locationX>4274</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmOAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_15_of_Assign_Current_Brand</name>
        <label>Copy 15 of Assign Current Brand</label>
        <locationX>4538</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbnFAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_16_of_Assign_Current_Brand</name>
        <label>Copy 16 of Assign Current Brand</label>
        <locationX>4802</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbn9AAD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Brand</name>
        <label>Copy 1 of Assign Current Brand</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmZAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Null</name>
        <label>Copy 1 of Assign Null</label>
        <locationX>2426</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Current_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Current_Brand</name>
        <label>Copy 2 of Assign Current Brand</label>
        <locationX>842</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbnCAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Null</name>
        <label>Copy 2 of Assign Null</label>
        <locationX>3614</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Check_Current_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Current_Brand</name>
        <label>Copy 3 of Assign Current Brand</label>
        <locationX>1106</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmOAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Null</name>
        <label>Copy 3 of Assign Null</label>
        <locationX>4670</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Check_Current_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Current_Brand</name>
        <label>Copy 4 of Assign Current Brand</label>
        <locationX>1370</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmbAAD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Current_Brand</name>
        <label>Copy 5 of Assign Current Brand</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmKAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Current_Brand</name>
        <label>Copy 6 of Assign Current Brand</label>
        <locationX>1898</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmLAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Current_Brand</name>
        <label>Copy 7 of Assign Current Brand</label>
        <locationX>2162</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbnBAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Current_Brand</name>
        <label>Copy 8 of Assign Current Brand</label>
        <locationX>2426</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmxAAD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Current_Brand</name>
        <label>Copy 9 of Assign Current Brand</label>
        <locationX>2690</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentBrand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbnOAAT</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Glucerna_Assign_Product</name>
        <label>Glucerna Assign Product</label>
        <locationX>2294</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BrandRelationship__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmLAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nepro_Assign_Product</name>
        <label>Nepro Assign Product</label>
        <locationX>3482</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BrandRelationship__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmNAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Procure_Assign_Product</name>
        <label>Procure Assign Product</label>
        <locationX>4538</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.BrandRelationship__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>01t0o00000ANbmOAAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Brand_Relation</name>
        <label>Check Brand Relation</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandRelationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Product</name>
        <label>Check Current Product</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ensure_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Ensure</label>
        </rules>
        <rules>
            <name>Anlene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anlene</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Anlene</label>
        </rules>
        <rules>
            <name>Protinex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Protinex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Brand</targetReference>
            </connector>
            <label>Protinex</label>
        </rules>
        <rules>
            <name>Boost_Opti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boost Optimum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Boost Optimum</label>
        </rules>
        <rules>
            <name>Once_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Once Complete</label>
        </rules>
        <rules>
            <name>Blendera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blendera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Blendera</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Preferred_Product</name>
        <label>Check Preferred Product</label>
        <locationX>3086</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ensure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Preferred_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Brand_Relation</targetReference>
            </connector>
            <label>Ensure</label>
        </rules>
        <rules>
            <name>Glucerna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Preferred_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna SR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Brand_Relation</targetReference>
            </connector>
            <label>Glucerna</label>
        </rules>
        <rules>
            <name>Nepro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Preferred_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro HP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Brand_Relation</targetReference>
            </connector>
            <label>Nepro</label>
        </rules>
        <rules>
            <name>Prosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Preferred_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Check_Brand_Relation</targetReference>
            </connector>
            <label>Prosure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Brand_Relation</name>
        <label>Copy 1 of Check Brand Relation</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandRelationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Glucerna_Assign_Product</targetReference>
            </connector>
            <label>Copy 1 of null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Current_Product</name>
        <label>Copy 1 of Check Current Product</label>
        <locationX>2426</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Glucerna_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Glucerna</label>
        </rules>
        <rules>
            <name>Boost_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boost Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Boost Care</label>
        </rules>
        <rules>
            <name>Gen_DM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gen-DM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Gen-DM</label>
        </rules>
        <rules>
            <name>Once_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Once Pro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_Current_Product</name>
        <label>Copy 1 of Copy 1 of Check Current Product</label>
        <locationX>3614</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nepro_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Nepro</label>
        </rules>
        <rules>
            <name>Once_Dia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once Dialyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Once Dialyze</label>
        </rules>
        <rules>
            <name>Once_Renal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once Renal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Once Renal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Check_Current_Product</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Check Current Product</label>
        <locationX>4670</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prosure_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Prosure</label>
        </rules>
        <rules>
            <name>Oral_Impact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oral Impact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Oral Impact</label>
        </rules>
        <rules>
            <name>Neo_Mune</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Campaign.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neo-Mune</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_16_of_Assign_Current_Brand</targetReference>
            </connector>
            <label>Neo-Mune</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Brand_Relation</name>
        <label>Copy 2 of Check Brand Relation</label>
        <locationX>3614</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandRelationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nepro_Assign_Product</targetReference>
            </connector>
            <label>Copy 2 of null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_Brand_Relation</name>
        <label>Copy 3 of Check Brand Relation</label>
        <locationX>4670</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Assign_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BrandRelationship__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procure_Assign_Product</targetReference>
            </connector>
            <label>Copy 3 of null</label>
        </rules>
    </decisions>
    <description>Add Market=TH</description>
    <environments>Default</environments>
    <interviewLabel>Assign Product in Brand Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Product in Brand Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Campaign</name>
        <label>Get Survey</label>
        <locationX>3086</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Preferred_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyCampaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2960</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
