force-app/main/default/flows/Call_Script_TW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>PED_Digital_SA_STC</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;PED-Digital-SA and STC&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-Digital-SA and STC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_Post_N</name>
        <choiceText>PED-Post-N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-Post-N</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_Post_N_6M_11M2</name>
        <choiceText>PED-Post-N-6M&amp;amp;11M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-Post-N-6M&amp;11M</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_Pre_N</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;PED-Pre-N&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-Pre-N</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_PSC</name>
        <choiceText>PED-PSC (Hopar and Digital)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-PSC (Hopar and Digital)</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_SA_Hopar</name>
        <choiceText>PED-SA (Hopar)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-SA (Hopar)</stringValue>
        </value>
    </choices>
    <choices>
        <name>PED_STC</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;PED-STC (Hopar)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PED-STC (Hopar)</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Select which survey screen should appear</description>
        <name>Survey_Decision</name>
        <label>Survey Decision</label>
        <locationX>847</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>PED_Post_N_6M_11M</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_N_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_Post_N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_Post_Survey</targetReference>
            </connector>
            <label>Post N Survey</label>
        </rules>
        <rules>
            <name>Pre_N_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_Pre_N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_PreN</targetReference>
            </connector>
            <label>Pre N Survey</label>
        </rules>
        <rules>
            <name>PED_PSC_Hopar_Digital_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_PSC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_PSC_Hopar_Digital</targetReference>
            </connector>
            <label>PED-PSC (Hopar &amp; Digital) Survey</label>
        </rules>
        <rules>
            <name>PED_STC_Hopar_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_STC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_STC_Hopar</targetReference>
            </connector>
            <label>PED-STC (Hopar) Survey</label>
        </rules>
        <rules>
            <name>Digital_SA_STC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_Digital_SA_STC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_Digital_SA_STC1</targetReference>
            </connector>
            <label>Digital SA &amp; STC</label>
        </rules>
        <rules>
            <name>SA_Hopar_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pleaseselectandfillthesurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PED_SA_Hopar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PED_SA_Hopar_Survey</targetReference>
            </connector>
            <label>SA Hopar Survey</label>
        </rules>
    </decisions>
    <description>Added PED-SA (Hopar) Survey as part of TW Tiger Enhancement</description>
    <interviewLabel>Call Script - TW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Script - TW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Obj</name>
        <label>Get Case Obj</label>
        <locationX>326</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Script_TW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Multiple Survey options to select</description>
        <name>Call_Script_TW</name>
        <label>Call Script - TW</label>
        <locationX>522</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Decision</targetReference>
        </connector>
        <fields>
            <name>Call_Script_TW_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Call_Script_TW_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pleaseselectandfillthesurvey</name>
                    <choiceReferences>PED_Pre_N</choiceReferences>
                    <choiceReferences>PED_Post_N</choiceReferences>
                    <choiceReferences>PED_Post_N_6M_11M2</choiceReferences>
                    <choiceReferences>PED_PSC</choiceReferences>
                    <choiceReferences>PED_STC</choiceReferences>
                    <choiceReferences>PED_Digital_SA_STC</choiceReferences>
                    <choiceReferences>PED_SA_Hopar</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select and fill the survey :-</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>119</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Get_Case_Obj</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>PED_Digital_SA_STC1</name>
        <label>PED-Digital - SA&amp;STC</label>
        <locationX>1296</locationX>
        <locationY>305</locationY>
        <flowName>Digital_SA_STC</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_Post_N_6M_11M</name>
        <label>PED-Post-N-6M&amp;11M</label>
        <locationX>923</locationX>
        <locationY>648</locationY>
        <flowName>PED_Post_N_6M_11M</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_Post_Survey</name>
        <label>PED Post-N Survey</label>
        <locationX>1248</locationX>
        <locationY>118</locationY>
        <flowName>Post_N_Survey</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_PreN</name>
        <label>PED-Pre-N</label>
        <locationX>969</locationX>
        <locationY>76</locationY>
        <flowName>PED_Pre_N</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_PSC_Hopar_Digital</name>
        <label>PED-PSC (Hopar &amp; Digital)</label>
        <locationX>1264</locationX>
        <locationY>572</locationY>
        <flowName>PED_PSC_Hopar_Digital</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_SA_Hopar_Survey</name>
        <label>PED-SA (Hopar) Survey</label>
        <locationX>745</locationX>
        <locationY>91</locationY>
        <flowName>PED_SA_Hopar</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PED_STC_Hopar</name>
        <label>PED-STC (Hopar)</label>
        <locationX>1299</locationX>
        <locationY>438</locationY>
        <flowName>PED_STC_Hopar</flowName>
        <inputAssignments>
            <name>CaseObj</name>
            <value>
                <elementReference>Get_Case_Obj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
