force-app/main/default/flows/Channel_Response_Count_Update_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Count_Channel_Response</name>
        <label>Count Channel Response</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>channelResponseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Channel_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MY_Ensure_Total_Channel_Response</targetReference>
        </connector>
    </assignments>
    <description>Lead Scoring. Channel Response Brand = Ensure, Market = MY</description>
    <interviewLabel>Channel Response Count Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Response Count Update Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Channel_Response</name>
        <label>Get Related Channel Response</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Channel_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MY_Ensure_Total_Channel_Response</name>
        <label>Update MY Ensure Total Channel Response</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MY_Ensure_Total_Channel_Response__c</field>
            <value>
                <elementReference>channelResponseCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Channel_Response</targetReference>
        </connector>
        <object>ChannelResponse__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>channelResponseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
