force-app/main/default/flows/Contact_MY_Update_Ethnicity_Based_on_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Name_Comparison</name>
        <label>Name Comparison</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <actionName>NameComparisonLoopAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Name</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>MY_Name_Ethnicity_Mapping__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>comparisonApiName</name>
            <value>
                <stringValue>DeveloperName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Name_Ethnicity_Mapping_Table</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultApiName</name>
            <value>
                <stringValue>Ethnicity__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Name</name>
        <label>Check Name</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_Ethnicity_Affiliate_Value_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_Comparison.match</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ethnicity_Affiliate_Value</targetReference>
            </connector>
            <label>Name Match</label>
        </rules>
    </decisions>
    <formulas>
        <description>First letter capitalized and rest is lowercase</description>
        <name>normalizeEthnicity</name>
        <dataType>String</dataType>
        <expression>INITCAP({!Name_Comparison.result})</expression>
    </formulas>
    <interviewLabel>Contact MY Update Ethnicity Based on Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact MY Update Ethnicity Based on Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affiliate_Value_Ethnicity_RecordType_Name</name>
        <label>Get Affiliate Value Ethnicity RecordType Name</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Comparison</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affiliate_Value__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ethnicity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ethnicity_Affiliate_Value</name>
        <label>Get Ethnicity Affiliate Value</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ethnicity_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Affiliate_Value_Ethnicity_RecordType_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>normalizeEthnicity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Affiliate_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ethnicity_Affiliate_Value_Others</name>
        <label>Get Ethnicity Affiliate Value Others</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ethnicity_on_Contact_Others</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Affiliate_Value_Ethnicity_RecordType_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Affiliate_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Name_Ethnicity_Mapping_Table</name>
        <label>Get Name Ethnicity Mapping Table</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Affiliate_Value_Ethnicity_RecordType_Name</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MY_Name_Ethnicity_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ethnicity_on_Contact</name>
        <label>Update Ethnicity on Contact</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ethnicity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Get_Ethnicity_Affiliate_Value.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ethnicity_on_Contact_Others</name>
        <label>Update Ethnicity on Contact Others</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ethnicity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Get_Ethnicity_Affiliate_Value_Others.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Name_Ethnicity_Mapping_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ethnicity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MY</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
