force-app/main/default/flows/Create_Update_Contact_in_Survey_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_BR</name>
        <label>Check BR</label>
        <locationX>2041</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>LoopBR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveBR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_BR_Contract</targetReference>
            </connector>
            <label>HaveBR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BR_Contract</name>
        <label>Check BR Contract</label>
        <locationX>1854</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>LoopBR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopBR.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopBR.PrimaryContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopBR.User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopBR.Preferred_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Preferred_Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Product</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Buy_For</name>
        <label>Check Buy For</label>
        <locationX>1304</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BuyForMe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buy_Product_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myself</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BR</targetReference>
            </connector>
            <label>BuyForMe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Contact</name>
        <label>Check Line Contact</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Line_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_in_Survey_Campaign_from_Line</targetReference>
            </connector>
            <label>Have Line Contact</label>
        </rules>
        <rules>
            <name>Haven_t_Line_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Haven&apos;t Line Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product</name>
        <label>Check Product</label>
        <locationX>1568</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Buy_For</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Buy_For</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMid</name>
        <label>checkMid</label>
        <locationX>1568</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_From_Survey_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact_in_Survey_Campaign</targetReference>
            </connector>
            <label>duplicated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Buy_For</name>
        <label>Copy 1 of Check Buy For</label>
        <locationX>1832</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Create_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_BuyForMe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buy_Product_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myself</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_BR</targetReference>
            </connector>
            <label>Copy 1 of BuyForMe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Product</name>
        <label>Copy 1 of Check Product</label>
        <locationX>1656</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_BR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BR</targetReference>
            </connector>
            <label>Copy 1 of User</label>
        </rules>
    </decisions>
    <description>Auto Create/Update Contact in Survey Campaign, Add Market=TH</description>
    <environments>Default</environments>
    <interviewLabel>Create/Update Contact in Survey Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update Contact in Survey Campaign</label>
    <loops>
        <name>LoopBR</name>
        <label>LoopBR</label>
        <locationX>1436</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_BR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_BR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_BR</name>
        <label>Copy 1 of Copy 1 of Create BR</label>
        <locationX>1964</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Copy_3_of_Get_Line_OA_Chanel</targetReference>
        </connector>
        <inputAssignments>
            <field>CareGiver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_BR</name>
        <label>Copy 1 of Create BR</label>
        <locationX>1700</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Line_OA_Chanel</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_CR</name>
        <label>Copy 1 of Create CR</label>
        <locationX>1436</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Copy_2_of_Create_BR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_BR</name>
        <label>Copy 2 of Create BR</label>
        <locationX>1436</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Line_OA_Chanel</targetReference>
        </connector>
        <inputAssignments>
            <field>CareGiver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_CR</name>
        <label>Copy 2 of Create CR</label>
        <locationX>1700</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Copy_1_of_Create_BR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_CR</name>
        <label>Copy 3 of Create CR</label>
        <locationX>1964</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Create_BR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Copy_3_of_Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_CR</name>
        <label>Copy 4 of Create CR</label>
        <locationX>1788</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>LoopBR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Copy_4_of_Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_CR</name>
        <label>Copy 5 of Create CR</label>
        <locationX>1524</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>LoopBR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Copy_5_of_Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_BR</name>
        <label>Create BR</label>
        <locationX>1172</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Get_Line_OA_Chanel</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_From_Survey_Campaign</name>
        <label>Create Contact From Survey Campaign</label>
        <locationX>1700</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Contact_in_Survey_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_HouseHold_From_Survey_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareGiver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineUIDAdult__c</field>
            <value>
                <elementReference>$Record.MID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.PhoneNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CR</name>
        <label>Create CR</label>
        <locationX>1172</locationX>
        <locationY>2687</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Create_BR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Get_Line_OA_Chanel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_HouseHold_From_Survey_Campaign</name>
        <label>Create HouseHold From Survey Campaign</label>
        <locationX>1568</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>checkMid</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <elementReference>Create_HouseHold_From_Survey_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Line_OA_Chanel</name>
        <label>Copy 1 of Get Line OA Chanel</label>
        <locationX>1436</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Line_OA_Chanel</name>
        <label>Copy 2 of Get Line OA Chanel</label>
        <locationX>1700</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Line_OA_Chanel</name>
        <label>Copy 3 of Get Line OA Chanel</label>
        <locationX>1964</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Line_OA_Chanel</name>
        <label>Copy 4 of Get Line OA Chanel</label>
        <locationX>1788</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_Get_Line_OA_Chanel</name>
        <label>Copy 5 of Get Line OA Chanel</label>
        <locationX>1524</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_5_of_Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BR</name>
        <label>Get BR</label>
        <locationX>1436</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopBR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_OA_Chanel</name>
        <label>Get Line OA Chanel</label>
        <locationX>1172</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Line OA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1568</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_HouseHold_From_Survey_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineUIDAdult__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_BR</name>
        <label>Copy 1 of Update BR</label>
        <locationX>1788</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Copy_4_of_Get_Line_OA_Chanel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopBR.PrimaryContact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>LoopBR.CurrentBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact_in_Survey_Campaign</name>
        <label>Copy 1 of Update Contact in Survey Campaign</label>
        <locationX>1436</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_BR</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BR</name>
        <label>Update BR</label>
        <locationX>1524</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Copy_5_of_Get_Line_OA_Chanel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopBR.PrimaryContact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Product__c</field>
            <value>
                <elementReference>$Record.Preferred_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>LoopBR.CurrentBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_in_Survey_Campaign</name>
        <label>Update Contact in Survey Campaign</label>
        <locationX>1700</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Create_Contact_From_Survey_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_in_Survey_Campaign_from_Line</name>
        <label>Update Contact in Survey Campaign from Line</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.Line_Contact__r.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Line_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </filters>
        <object>SurveyCampaign__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
