force-app/main/default/flows/ID_Call_Script_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_Error_Message</name>
        <label>Error Message</label>
        <locationX>1295</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_from_Adult</name>
        <label>assign from Adult</label>
        <locationX>990</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>r_Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EndUser.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.ProductLoyaltyLength__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Product_Loyalty_Length</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.CallOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_CallOutcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.PreferredDateTimeofCallback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_PreferredDateTimeCallBack</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Opinion_about_the_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opinion_about_the_sample_gimmick_kit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Who_influenced_the_customer_to_buy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_influenced_the_customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.First_time_buying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_FirstTimeBuying</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Have_tried_the_product_before__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_Havetriedtheproductbefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.EndUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_EndUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.CareGiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_CareGiver</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Care_giver_relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_Caregiverrelation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Customer_received_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_received_sample_gimmick_kit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Customer_used_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_used_sample_gimmick_kit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Bought_Pediasure_before_after_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bought_Pediasure_before_after_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Vouchers_preferred_online_offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vouchers_preferred_online_offline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Regular_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_store</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Non_HDS_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_HDS_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.MasterOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_MasterOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.DoNotCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_DoNotCall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_EmailOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.WhatsappOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_WhatsappOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.SMSOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_SMSOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.DataSharingWithThirdPartyOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_DataSharingOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.PreviousBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_PreviousBrand.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_UP_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_from_Child</name>
        <label>assign from Child</label>
        <locationX>937</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>r_Contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Birthdate_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EndUser.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_Birthdate_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.ProductLoyaltyLength__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Product_Loyalty_Length_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.CallOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_CallOutcome_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.PreferredDateTimeofCallback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_PreferredDateTimeCallBack_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Who_influenced_the_customer_to_buy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_influenced_the_customer_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.First_time_buying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_FirstTimeBuying_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Have_tried_the_product_before__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_Havetriedtheproductbefore_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.EndUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_EndUser_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.CareGiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_CareGiver_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Care_giver_relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BR_Caregiverrelation_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Opinion_about_the_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opinion_about_the_sample_gimmick_kit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Customer_received_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_received_sample_gimmick_kit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Customer_used_sample_gimmick_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_used_sample_gimmick_kit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Bought_Pediasure_before_after_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bought_Pediasure_before_after_campaign_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Vouchers_preferred_online_offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vouchers_preferred_online_offline_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Regular_Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_store_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR.Non_HDS_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_HDS_Reason_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.MasterOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_MasterOptout_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.DoNotCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_DoNotCall_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_EmailOptOut_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.WhatsappOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_WhatsAppOptOut_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.SMSOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_SMSOptOut_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Contact.DataSharingWithThirdPartyOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_DataSharingOptOut_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR.PreviousBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_PreviousBrand_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_UP_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>831</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Status_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_from_Adult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_0</name>
        <label>Lead</label>
        <locationX>968</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Status_Lead_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_from_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User</name>
        <label>User</label>
        <locationX>837</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Status_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_from_Adult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_0</name>
        <label>User</label>
        <locationX>889</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedBR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_Status_User_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_from_Child</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_BR_ProductLoyaltyLength_default</name>
        <choiceText>{!f_BR_ProductLoyaltyLength_default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_BR_ProductLoyaltyLength_default</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Contacted</name>
        <choiceText>Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_default_lead</name>
        <choiceText>{!f_BR_Status_default_lead}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_BR_Status_default_lead</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_default_user</name>
        <choiceText>{!f_BR_Status_default_user}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_BR_Status_default_user</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Invalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Lapsed</name>
        <choiceText>Lapsed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lapsed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Qualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Uncontacted</name>
        <choiceText>Uncontacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncontacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Type_default</name>
        <choiceText>{!f_BR_Type_default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_BR_Type_default</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_Case_CallOutcome_default</name>
        <choiceText>{!f_Case_CallOutcome_default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_Case_CallOutcome_default</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Completed</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Completed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_default</name>
        <choiceText>{!f_Case_Status_default}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_Case_Status_default</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_FollowUpCallRequired</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Follow-Up Call Required&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-Up Call Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_OnHold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Pending2ndAttempt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Pending Second Attempt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Second Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_PendingFourthAttempt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Pending Fourth Attempt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Fourth Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_PendingThirdAttempt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Pending Third Attempt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Third Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_After</name>
        <choiceText>Sesudah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sesudah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Already</name>
        <choiceText>Sudah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sudah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Alternatingconsumption</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Konsumsi diseling/alternatif&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternating consumption</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Availablestock</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Stock masih tersedia&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Available stock</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Before</name>
        <choiceText>Sebelum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sebelum</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Buyatthestore</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Memilih ke Store karena dekat dengan rumah&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buy at the store because it&apos;s close to home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Buyonthemonthlyshopping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Sekalian belanja bulanan&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buy on the monthly shopping</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Buywhenstrolling</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Sekalian jalan jalan ke Mall&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buy when strolling around the Mall</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_CantMixVariant</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Varian rasa tidak dapat dicampur (pembelian)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Can&apos;t mix variant</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_CR_CreditCardPaymentPreference</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Pembayaran ingin dengan kartu kredit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit card payment preference</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Expensiveproduct</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Harga produk yang mahal&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expensive product</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Expensiveshipping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Ongkir mahal&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expensive shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Nogimmick</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Tidak ada hadiah&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No gimmick</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>c_CR_NotInterested</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Tidak tertarik dengan jenis hadiah/sudah punya&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not interested gimmick/already have</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_NotYet</name>
        <choiceText>Belum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Belum</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Offline</name>
        <choiceText>Offline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offline</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Online</name>
        <choiceText>Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_OrderwithPG</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Pesan langsung ke PG (PG bisa antar ke rumah)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order with PG (PG can deliver to home)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_CR_Smallconsumption</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Konsumsi sedikit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Small consumption</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BR_Type</name>
        <label>BR Type</label>
        <locationX>617</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>BR_Type_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedBR_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>BR_Type_0</name>
        <label>BR Type</label>
        <locationX>644</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>BR_Type_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedBR_Type_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_0</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_BR_Type</name>
        <label>Type</label>
        <locationX>639</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>scr_Child</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child</defaultConnectorLabel>
        <rules>
            <name>dec_BR_Type_Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_RelatedBR.BrandRelationshipType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adult</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Adult</targetReference>
            </connector>
            <label>Adult</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Same_Contact</name>
        <label>Same Contact?</label>
        <locationX>1291</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>DML_UP_EndUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Same_Contact_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>f_SameContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_SameContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DML_UP_RelatedBR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>added Call Status: On Hold picklist value
TKT-008171</description>
    <dynamicChoiceSets>
        <name>c_BR_PreferredFlavour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredFlavour__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_BR_ProductLoyaltyLength</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductLoyaltyLength__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_BR_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_BR_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Case_CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Case_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_BR_HaveTriedTheProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_tried_the_product_before__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_BR_ProductLoyaltyLength_default</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_RelatedBR.ProductLoyaltyLength__c}) == &quot;&quot;, &quot; &quot;, TEXT({!r_RelatedBR.ProductLoyaltyLength__c}))</expression>
    </formulas>
    <formulas>
        <name>f_BR_Status_Adult</name>
        <dataType>String</dataType>
        <expression>IF({!RelatedBR_Type} = &quot;User&quot;, {!RelatedBR_Status_User}, {!RelatedBR_Status_Lead})</expression>
    </formulas>
    <formulas>
        <name>f_BR_Status_default_lead</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        TEXT({!r_RelatedBR.Status__c}) = &quot;&quot;,
        TEXT({!r_RelatedBR.Type__c}) = &quot;User&quot;
    ), &quot; &quot;, TEXT({!r_RelatedBR.Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>f_BR_Status_default_user</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        TEXT({!r_RelatedBR.Status__c}) = &quot;&quot;,
        TEXT({!r_RelatedBR.Type__c}) = &quot;Lead&quot;
    ), &quot; &quot;, TEXT({!r_RelatedBR.Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>f_BR_Type_default</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_RelatedBR.Type__c}) == &quot;&quot;, &quot; &quot;, TEXT({!r_RelatedBR.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>f_Case_CallOutcome_default</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_Case.CallOutcome__c}) = &quot;&quot;, &quot; &quot;, TEXT({!r_Case.CallOutcome__c}))</expression>
    </formulas>
    <formulas>
        <name>f_Case_Status_default</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_Case.Status}) == &quot;&quot;,  &quot; &quot;, TEXT({!r_Case.Status}))</expression>
    </formulas>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!var_Error} ) &gt; 0, LEFT({!var_Error}, FIND( &quot;You can look&quot;, {!var_Error} ) - 1 ), {!var_Error}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_SameContact</name>
        <dataType>Boolean</dataType>
        <expression>OR({!r_EndUser.Id} == {!r_Contact.Id},  {!r_EndUser.Id} == null)</expression>
    </formulas>
    <interviewLabel>Call Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Q_CallCampaign</name>
        <label>Call Campaign</label>
        <locationX>524</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.Campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>campaign_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Q_Case</name>
        <label>Case</label>
        <locationX>366</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Related_Channel_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>r_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CallRegarding__c</queriedFields>
        <queriedFields>RelatedBrandRelationship__c</queriedFields>
        <queriedFields>RelatedChannelResponse__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>PrimaryProductDiscussed__c</queriedFields>
        <queriedFields>SecondaryProductDiscussed__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CallOutcome__c</queriedFields>
        <queriedFields>SuccessfulReason__c</queriedFields>
        <queriedFields>UnsuccessfulReason__c</queriedFields>
        <queriedFields>UncontactableReason__c</queriedFields>
        <queriedFields>InvalidReason__c</queriedFields>
        <queriedFields>FollowUpCallRequired__c</queriedFields>
        <queriedFields>CallBackRequestReason__c</queriedFields>
        <queriedFields>PreferredDateTimeofCallback__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Contact</name>
        <label>Contact</label>
        <locationX>523</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_BR_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>EstimatedDueDate__c</queriedFields>
        <queriedFields>MasterOptOut__c</queriedFields>
        <queriedFields>DoNotCall</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>WhatsappOptOut__c</queriedFields>
        <queriedFields>SMSOptOut__c</queriedFields>
        <queriedFields>DataSharingWithThirdPartyOptOut__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_End_User</name>
        <label>End User</label>
        <locationX>366</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_CallCampaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_RelatedBR.User__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_EndUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EstimatedDueDate__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Related_Brand_Relationship</name>
        <label>Related Brand Relationship</label>
        <locationX>366</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_End_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <outputReference>r_RelatedBR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BrandSwitchReason__c</queriedFields>
        <queriedFields>Drop_Out_Reason__c</queriedFields>
        <queriedFields>CurrentBrand__c</queriedFields>
        <queriedFields>PreviousBrand__c</queriedFields>
        <queriedFields>BrandRelationship__c</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>PreferredFlavour__c</queriedFields>
        <queriedFields>Remarks__c</queriedFields>
        <queriedFields>ProductExperience__c</queriedFields>
        <queriedFields>ProductLoyaltyLength__c</queriedFields>
        <queriedFields>NewtoBrand__c</queriedFields>
        <queriedFields>BrandRelationshipType__c</queriedFields>
        <queriedFields>EndUser__c</queriedFields>
        <queriedFields>CareGiver__c</queriedFields>
        <queriedFields>First_time_buying__c</queriedFields>
        <queriedFields>Have_tried_the_product_before__c</queriedFields>
        <queriedFields>Care_giver_relation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Related_Channel_Response</name>
        <label>Related Channel Response</label>
        <locationX>366</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Related_Brand_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <object>ChannelResponse__c</object>
        <outputReference>r_RelatedCR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_received_sample_gimmick_kit__c</queriedFields>
        <queriedFields>Customer_used_sample_gimmick_kit__c</queriedFields>
        <queriedFields>Opinion_about_the_sample_gimmick_kit__c</queriedFields>
        <queriedFields>Bought_Pediasure_before_after_campaign__c</queriedFields>
        <queriedFields>Who_influenced_the_customer_to_buy__c</queriedFields>
        <queriedFields>Vouchers_preferred_online_offline__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>ChannelType__c</queriedFields>
        <queriedFields>OutletType__c</queriedFields>
        <queriedFields>RegistrationDate__c</queriedFields>
        <queriedFields>Regular_Store__c</queriedFields>
        <queriedFields>Non_HDS_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DML_UP_Case</name>
        <label>Update Case</label>
        <locationX>1082</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>DML_UP_Update_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_EndUser</name>
        <label>End User</label>
        <locationX>1339</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>DML_UP_RelatedBR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_EndUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_RelatedBR</name>
        <label>RelatedBR</label>
        <locationX>1484</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>DML_UP_RelatedCR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_RelatedBR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_RelatedCR</name>
        <label>RelatedCR</label>
        <locationX>1642</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>scr3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_RelatedCR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1217</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>dec_Same_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>ASDF</name>
        <label>ASDF</label>
        <locationX>1154</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AFSD</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 2, 2);&quot;&gt;{!f_ErrorMessage}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(240, 3, 3);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr3</name>
        <label>success</label>
        <locationX>1791</locationX>
        <locationY>393</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr2_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Records successfully updated.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Adult</name>
        <label>Call Script</label>
        <locationX>822</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BR_Type</targetReference>
        </connector>
        <fields>
            <name>Contact_dt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Name: {!r_Contact.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Mobile: {!r_Contact.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Contact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Birthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_Contact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Mohon konfirmasi tanggal lahir ibu</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;End User Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(107, 109, 112);&quot;&gt;Name: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112);&quot;&gt;{!r_EndUser.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>r_EndUser.Id</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>003</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_Birthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Mohon konfirmasi tanggal lahir ibu</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>r_EndUser.Id</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>003</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr1_RelatedBR_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Related Brand Relationship Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Brand Relationship&lt;/span&gt;&lt;b style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;:&lt;/b&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt; {!r_RelatedBR.BrandRelationship__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedBR_Type</name>
            <choiceReferences>c_BR_Type</choiceReferences>
            <choiceReferences>c_BR_Type_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Type_default</defaultSelectedChoiceReference>
            <fieldText>Kapan terakhir Ibu membeli produk &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_Status_Lead</name>
            <choiceReferences>c_BR_Status_Uncontacted</choiceReferences>
            <choiceReferences>c_BR_Status_Contacted</choiceReferences>
            <choiceReferences>c_BR_Status_Qualified</choiceReferences>
            <choiceReferences>c_BR_Status_Invalid</choiceReferences>
            <choiceReferences>c_BR_Status_default_lead</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_default_lead</defaultSelectedChoiceReference>
            <fieldText>Kapan terakhir Ibu membeli produk &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelatedBR_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lead</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_Status_User</name>
            <choiceReferences>c_BR_Status_New</choiceReferences>
            <choiceReferences>c_BR_Status_Existing</choiceReferences>
            <choiceReferences>c_BR_Status_Lapsed</choiceReferences>
            <choiceReferences>c_BR_Status_default_user</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_default_user</defaultSelectedChoiceReference>
            <fieldText>Kapan terakhir Ibu membeli produk &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelatedBR_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BR_FirstTimeBuying</name>
            <dataType>Date</dataType>
            <fieldText>Kapan pertama kali membeli (sesuai brand)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BR_Havetriedtheproductbefore</name>
            <choiceReferences>pl_BR_HaveTriedTheProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apakah sebelumnya sudah pernah menggunakan PediaComplete/Goldsure (atau sebaliknya)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Adult_EndUserOrCareGiver</name>
            <fieldText>&lt;p&gt;&lt;b&gt;End User or Care Giver ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BR_EndUser</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBR.EndUser__c</elementReference>
            </defaultValue>
            <fieldText>End User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BR_CareGiver</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBR.CareGiver__c</elementReference>
            </defaultValue>
            <fieldText>Care Giver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BR_Caregiverrelation</name>
            <dataType>String</dataType>
            <fieldText>Care Giver untuk siapa (relasi)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_Product_Loyalty_Length</name>
            <choiceReferences>c_BR_ProductLoyaltyLength</choiceReferences>
            <choiceReferences>c_BR_ProductLoyaltyLength_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_ProductLoyaltyLength_default</defaultSelectedChoiceReference>
            <fieldText>Sudah berapa lama Ibu menggunakan &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_DropOutReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Drop_Out_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.Drop_Out_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Out Reason</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.Drop_Out_Reason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_CurrentBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ibu telah membeli produk susu &quot;Brand/Key Brand&quot;, apakah benar Ibu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.CurrentBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_PreviousBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Produk yang dikonsumsi sebelumnya</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCR_dt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112);&quot;&gt;&lt;/span&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Channel Response Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Dimana tempat Ibu membelinya&amp;nbsp;(Cek source data): {!&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;.Channel__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Channel Type: {!&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;.ChannelType__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Category: {!r_RelatedCR.Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Outlet Type: {!&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;.OutletType__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Registration Date: {!&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;.RegistrationDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Case Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Call Campaign : {!campaign_name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Subject: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;{!r_Case.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Description</name>
            <defaultValue>
                <stringValue>{!r_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Status</name>
            <choiceReferences>c_Case_Status_default</choiceReferences>
            <choiceReferences>c_Case_Status_New</choiceReferences>
            <choiceReferences>c_Case_Status_Pending2ndAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingThirdAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingFourthAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_FollowUpCallRequired</choiceReferences>
            <choiceReferences>c_Case_Status_Completed</choiceReferences>
            <choiceReferences>c_Case_Status_Cancelled</choiceReferences>
            <choiceReferences>c_Case_Status_OnHold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_CallOutcome</name>
            <choiceReferences>c_Case_CallOutcome</choiceReferences>
            <choiceReferences>c_Case_CallOutcome_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Case_CallOutcome_default</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_SuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.SuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UnsuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UnsuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UncontactableReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UncontactableReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uncontactable Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UncontactableReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UncontactableReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_InvalidReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>InvalidReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.InvalidReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.InvalidReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_FollowUpCallRequired</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow-Up Call Required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Case.FollowUpCallRequired__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.FollowUpCallRequired__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_CallBackRequestReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CallBackRequestReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Call Back Request Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.CallBackRequestReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.CallBackRequestReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_PreferredDateTimeCallBack</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>r_Case.PreferredDateTimeofCallback__c</elementReference>
            </defaultValue>
            <fieldText>Preferred Date &amp; Time Call Back</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Communication_Preferences_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;Communication Preferences&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_MasterOptOut</name>
            <dataType>Boolean</dataType>
            <fieldText>Master Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_DoNotCall</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_EmailOptOut</name>
            <dataType>Boolean</dataType>
            <fieldText>Email Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_WhatsappOptOut</name>
            <dataType>Boolean</dataType>
            <fieldText>Whatsapp Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_SMSOptOut</name>
            <dataType>Boolean</dataType>
            <fieldText>SMS Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_DataSharingOptOut</name>
            <dataType>Boolean</dataType>
            <fieldText>Data Sharing Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddlCR_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Additional Channel Response Details (Hanya untuk Campaign Survey)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_received_sample_gimmick_kit</name>
            <choiceReferences>c_CR_Already</choiceReferences>
            <choiceReferences>c_CR_NotYet</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah sudah menerima sample/gimmick/kit (masing masing campaign)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_used_sample_gimmick_kit</name>
            <choiceReferences>c_CR_Already</choiceReferences>
            <choiceReferences>c_CR_NotYet</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah sudah mencoba sample/gimmick/kit?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opinion_about_the_sample_gimmick_kit</name>
            <dataType>String</dataType>
            <fieldText>Bagaimana tanggapan Ibu/Bapak terhadap gimmik / sample yang telah Kami Berikan?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bought_Pediasure_before_after_campaign</name>
            <choiceReferences>c_CR_Before</choiceReferences>
            <choiceReferences>c_CR_After</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah Ibu/Bapak membeli produk Pediasure saat sebelum atau sesudah mengetahui campaign ini?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_influenced_the_customer</name>
            <dataType>String</dataType>
            <fieldText>Siapa yang mempengaruhi pembelian?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vouchers_preferred_online_offline</name>
            <choiceReferences>c_CR_Online</choiceReferences>
            <choiceReferences>c_CR_Offline</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah lebih senang diberikan voucher belanja di offline atau di online ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Regular_store</name>
            <dataType>String</dataType>
            <fieldText>Regular store</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Non_HDS_Reason</name>
            <choiceReferences>c_CR_None</choiceReferences>
            <choiceReferences>c_CR_Availablestock</choiceReferences>
            <choiceReferences>c_CR_Expensiveproduct</choiceReferences>
            <choiceReferences>c_CR_CantMixVariant</choiceReferences>
            <choiceReferences>c_CR_Smallconsumption</choiceReferences>
            <choiceReferences>c_CR_Expensiveshipping</choiceReferences>
            <choiceReferences>c_CR_Nogimmick</choiceReferences>
            <choiceReferences>c_CR_Buyonthemonthlyshopping</choiceReferences>
            <choiceReferences>c_CR_Buywhenstrolling</choiceReferences>
            <choiceReferences>C_CR_CreditCardPaymentPreference</choiceReferences>
            <choiceReferences>c_CR_Buyatthestore</choiceReferences>
            <choiceReferences>c_CR_OrderwithPG</choiceReferences>
            <choiceReferences>c_CR_NotInterested</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Non HDS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Child</name>
        <label>Child</label>
        <locationX>815</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BR_Type_0</targetReference>
        </connector>
        <fields>
            <name>Contact_dt1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Name: {!r_Contact.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Mobile: {!r_Contact.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Contact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Birthdate_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_Contact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Saat ini usia anak berapa tahun, (cross cek tanggal &amp; tahun lahir)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_dt_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;End User Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;{!r_EndUser.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>r_EndUser.Id</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>003</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_Birthdate_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Saat ini usia anak berapa tahun, (cross cek tanggal &amp; tahun lahir)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>r_EndUser.Id</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>003</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr1_RelatedBR_dt_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Related Brand Relationship Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Brand Relationship: {!r_RelatedBR.BrandRelationship__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedBR_Type_0</name>
            <choiceReferences>c_BR_Type</choiceReferences>
            <choiceReferences>c_BR_Type_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Type_default</defaultSelectedChoiceReference>
            <fieldText>Kapan terakhir Ibu membeli produk &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_Status_Lead_0</name>
            <choiceReferences>c_BR_Status_Uncontacted</choiceReferences>
            <choiceReferences>c_BR_Status_Contacted</choiceReferences>
            <choiceReferences>c_BR_Status_Qualified</choiceReferences>
            <choiceReferences>c_BR_Status_Invalid</choiceReferences>
            <choiceReferences>c_BR_Status_default_lead</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_default_lead</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelatedBR_Type_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lead</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BR_FirstTimeBuying_0</name>
            <dataType>Date</dataType>
            <fieldText>Kapan pertama kali membeli (sesuai brand)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BR_Havetriedtheproductbefore_0</name>
            <choiceReferences>pl_BR_HaveTriedTheProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apakah sebelumnya sudah pernah menggunakan PediaComplete/Goldsure (atau sebaliknya)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndUserOrCareGiver_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;End User or Care Giver?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BR_EndUser_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBR.EndUser__c</elementReference>
            </defaultValue>
            <fieldText>End User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BR_CareGiver_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBR.CareGiver__c</elementReference>
            </defaultValue>
            <fieldText>Care Giver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BR_Caregiverrelation_0</name>
            <dataType>String</dataType>
            <fieldText>Care Giver untuk siapa (relasi)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_Status_User_0</name>
            <choiceReferences>c_BR_Status_New</choiceReferences>
            <choiceReferences>c_BR_Status_Existing</choiceReferences>
            <choiceReferences>c_BR_Status_Lapsed</choiceReferences>
            <choiceReferences>c_BR_Status_default_user</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_default_user</defaultSelectedChoiceReference>
            <fieldText>Kapan terakhir Ibu membeli produk &quot;Brand/Key Brand&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RelatedBR_Type_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_Product_Loyalty_Length_0</name>
            <choiceReferences>c_BR_ProductLoyaltyLength</choiceReferences>
            <choiceReferences>c_BR_ProductLoyaltyLength_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_ProductLoyaltyLength_default</defaultSelectedChoiceReference>
            <fieldText>Sudah berapa lama &quot;The Child&quot; menggunakannya Bu</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelatedBR_DropOutReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Drop_Out_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.Drop_Out_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Out Reason</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.Drop_Out_Reason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_CurrentBrand_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>&quot;Brand/Key Brand&quot; Complete atau &quot;Brand/Key Brand&quot; yang digunakannya</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.CurrentBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_PreviousBrand_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Produk yang dikonsumsi sebelumnya</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCR_dt_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Channel Response Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Dimana tempat Ibu membelinya&amp;nbsp;(Cek source data): {!&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;.Channel__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Channel Type: {!&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;.ChannelType__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Category: {!&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;.Category__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Outlet Type: {!&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;.OutletType__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Registration Date: {!&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;r_RelatedCR&lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;.RegistrationDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Case Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Call Campaign: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;{!campaign_name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Subject: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112); background-color: rgb(255, 255, 255);&quot;&gt;{!r_Case.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Description_0</name>
            <defaultValue>
                <stringValue>{!r_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Status_0</name>
            <choiceReferences>c_Case_Status_default</choiceReferences>
            <choiceReferences>c_Case_Status_New</choiceReferences>
            <choiceReferences>c_Case_Status_Pending2ndAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingThirdAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingFourthAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_FollowUpCallRequired</choiceReferences>
            <choiceReferences>c_Case_Status_Completed</choiceReferences>
            <choiceReferences>c_Case_Status_Cancelled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_CallOutcome_0</name>
            <choiceReferences>c_Case_CallOutcome</choiceReferences>
            <choiceReferences>c_Case_CallOutcome_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Case_CallOutcome_default</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_SuccessfulReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.SuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UnsuccessfulReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UnsuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UncontactableReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UncontactableReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uncontactable Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UncontactableReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UncontactableReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_InvalidReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>InvalidReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.InvalidReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.InvalidReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_FollowUpCallRequired_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow-Up Call Required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Case.FollowUpCallRequired__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.FollowUpCallRequired__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_CallBackRequestReason_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CallBackRequestReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Call Back Request Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.CallBackRequestReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.CallBackRequestReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_PreferredDateTimeCallBack_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>r_Case.PreferredDateTimeofCallback__c</elementReference>
            </defaultValue>
            <fieldText>Preferred Date &amp; Time Call Back</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Communication_Preferences_dt_child</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Communication Preferences&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_MasterOptout_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Master Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_DoNotCall_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_EmailOptOut_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Email Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_WhatsAppOptOut_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Whats App Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_SMSOptOut_0</name>
            <dataType>Boolean</dataType>
            <fieldText>SMS Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_DataSharingOptOut_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Data Sharing Opt Out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddlCR_dt_child</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Additional Channel Response Details (Hanya untuk Campaign Survey)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_received_sample_gimmick_kit_0</name>
            <choiceReferences>c_CR_Already</choiceReferences>
            <choiceReferences>c_CR_NotYet</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah sudah menerima sample/gimmick/kit (masing masing campaign)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_used_sample_gimmick_kit_0</name>
            <choiceReferences>c_CR_Already</choiceReferences>
            <choiceReferences>c_CR_NotYet</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah sudah mencoba sample/gimmick/kit?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opinion_about_the_sample_gimmick_kit_0</name>
            <dataType>String</dataType>
            <fieldText>Bagaimana tanggapan Ibu/Bapak terhadap gimmik / sample yang telah Kami Berikan?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bought_Pediasure_before_after_campaign_0</name>
            <choiceReferences>c_CR_Before</choiceReferences>
            <choiceReferences>c_CR_After</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah Ibu/Bapak membeli produk Pediasure saat sebelum atau sesudah mengetahui campaign ini?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_influenced_the_customer_0</name>
            <dataType>String</dataType>
            <fieldText>Siapa yang mempengaruhi pembelian?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vouchers_preferred_online_offline_0</name>
            <choiceReferences>c_CR_Online</choiceReferences>
            <choiceReferences>c_CR_Offline</choiceReferences>
            <choiceReferences>c_CR_None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Apakah lebih senang diberikan voucher belanja di offline atau di online ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Regular_store_0</name>
            <dataType>String</dataType>
            <fieldText>Regular store</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Non_HDS_Reason_0</name>
            <choiceReferences>c_CR_None</choiceReferences>
            <choiceReferences>c_CR_Availablestock</choiceReferences>
            <choiceReferences>c_CR_Expensiveproduct</choiceReferences>
            <choiceReferences>c_CR_CantMixVariant</choiceReferences>
            <choiceReferences>c_CR_Smallconsumption</choiceReferences>
            <choiceReferences>c_CR_Alternatingconsumption</choiceReferences>
            <choiceReferences>c_CR_Expensiveshipping</choiceReferences>
            <choiceReferences>c_CR_Nogimmick</choiceReferences>
            <choiceReferences>c_CR_Buyonthemonthlyshopping</choiceReferences>
            <choiceReferences>c_CR_Buywhenstrolling</choiceReferences>
            <choiceReferences>C_CR_CreditCardPaymentPreference</choiceReferences>
            <choiceReferences>c_CR_Buyatthestore</choiceReferences>
            <choiceReferences>c_CR_OrderwithPG</choiceReferences>
            <choiceReferences>c_CR_NotInterested</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_CR_None</defaultSelectedChoiceReference>
            <fieldText>Non HDS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>26</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Q_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>campaign_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>r_CallRegarding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>r_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_EndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_RelatedBR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelResponse__c</objectType>
    </variables>
    <variables>
        <name>r_SecondaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordtype_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtype_District</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rList_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_BR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_EndUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_Case.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
