force-app/main/default/flows/Lead_Scoring_Update_Lead_Status_in_Brand_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Status_based_on_Lead_Scoring_Setting</name>
        <label>Check Status based on Lead Scoring Setting</label>
        <locationX>660</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_Into_Lead_Scoring_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MY_Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Into_Lead_Scoring_Setting.Range_Max__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Lead_Scoring_Setting.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Lead_Scoring_Setting.Range_Min__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_Cold</targetReference>
            </connector>
            <label>MY Cold</label>
        </rules>
        <rules>
            <name>MY_Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Into_Lead_Scoring_Setting.Range_Min__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Into_Lead_Scoring_Setting.Range_Max__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Lead_Scoring_Setting.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_Warm</targetReference>
            </connector>
            <label>MY Warm</label>
        </rules>
        <rules>
            <name>MY_Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Lead_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Into_Lead_Scoring_Setting.Range_Min__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Lead_Scoring_Setting.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Lead_Scoring_Setting.Range_Max__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_Hot</targetReference>
            </connector>
            <label>MY Hot</label>
        </rules>
    </decisions>
    <description>Lead Status updated Cold, Warm or Hot based on the Lead Scoring on Brand Relationship</description>
    <interviewLabel>Lead Scoring Update Lead Status in Brand Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Update Lead Status in Brand Relationship</label>
    <loops>
        <name>Loop_Into_Lead_Scoring_Setting</name>
        <label>Loop Into Lead Scoring Setting</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Lead_Scoring_Setting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status_based_on_Lead_Scoring_Setting</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Scoring_Setting</name>
        <label>Get Lead Scoring Setting</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Into_Lead_Scoring_Setting</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Scoring_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Status_Cold</name>
        <label>Update Lead Status Cold</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Status_Hot</name>
        <label>Update Lead Status Hot</label>
        <locationX>792</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Status_Warm</name>
        <label>Update Lead Status Warm</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Scoring_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Lead_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
