force-app/main/default/flows/Lead_Scoring_Based_on_Contact_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_relatedBR</name>
        <label>Add to relatedBR</label>
        <locationX>468</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>relatedBR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_BR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_into_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delete_Previous_Lead_Score</name>
        <label>Assign Delete Previous Lead Score</label>
        <locationX>5671</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>deletePreviousLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_into_Previous_Lead_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_into_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delete_Previous_Lead_Score_Based_on_ObjectId</name>
        <label>Assign Delete Previous Lead Score Based on ObjectId</label>
        <locationX>6375</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>deletePreviousLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_into_Previous_Lead_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_into_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delete_Previous_Lead_Score_Match_Field_and_Object</name>
        <label>Assign Delete Previous Lead Score Match Field and Object</label>
        <locationX>6111</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>deletePreviousLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_into_Previous_Lead_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_into_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Create_Lead_Score_Collection</name>
        <label>Copy 1 of Assign Create Lead Score Collection</label>
        <locationX>3900</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lead_Scoring</name>
        <label>Copy 1 of Assign Lead Scoring</label>
        <locationX>3900</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Create_Lead_Score_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Create_Lead_Score_Collection</name>
        <label>Copy 2 of Assign Create Lead Score Collection</label>
        <locationX>4340</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Lead_Scoring</name>
        <label>Copy 2 of Assign Lead Scoring</label>
        <locationX>4340</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Create_Lead_Score_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Create_Lead_Score_Collection</name>
        <label>Copy 3 of Assign Create Lead Score Collection</label>
        <locationX>4780</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Lead_Scoring</name>
        <label>Copy 3 of Assign Lead Scoring</label>
        <locationX>4780</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_Create_Lead_Score_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Create_Lead_Score_Collection</name>
        <label>Copy 4 of Assign Create Lead Score Collection</label>
        <locationX>5396</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Lead_Scoring</name>
        <label>Copy 4 of Assign Lead Scoring</label>
        <locationX>5396</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Assign_Create_Lead_Score_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Create_Lead_Score_Collection</name>
        <label>Copy 5 of Assign Create Lead Score Collection</label>
        <locationX>6012</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Lead_Scoring</name>
        <label>Copy 5 of Assign Lead Scoring</label>
        <locationX>6012</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Assign_Create_Lead_Score_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Age_Comparison</name>
        <label>Age Comparison</label>
        <locationX>4626</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_Number_Range_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number Range</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Number_Range_Matching</targetReference>
            </connector>
            <label>Age Number Range Comparison</label>
        </rules>
        <rules>
            <name>Age_Greater_Than_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater Than</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Greater_Than_Matching</targetReference>
            </connector>
            <label>Age Greater Than Comparison</label>
        </rules>
        <rules>
            <name>Age_Less_Than_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Less Than</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Less_Than_Matching</targetReference>
            </connector>
            <label>Age Less Than Comparison</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Create_Lead_Score_Collection_Exist</name>
        <label>Check if Create Lead Score Collection Exist</label>
        <locationX>182</locationX>
        <locationY>4343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Lead_Score_Collection_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createLeadScoreCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Score_Collection</targetReference>
            </connector>
            <label>Create Lead Score Collection Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Delete_Previous_Lead_Score_Collection_is_Empty</name>
        <label>Check if Delete Previous Lead Score Collection is Empty</label>
        <locationX>5847</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Previous_Lead_Score_Field_and_Object_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Previous_Lead_Score_Collection_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deletePreviousLeadScoreCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delete_Previous_Lead_Score</targetReference>
            </connector>
            <label>Delete Previous Lead Score Collection is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Lead_Score_Deletion</name>
        <label>Check Previous Lead Score Deletion</label>
        <locationX>182</locationX>
        <locationY>4007</locationY>
        <defaultConnector>
            <targetReference>Check_if_Create_Lead_Score_Collection_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Previous_Lead_Scoring_Collection_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deletePreviousLeadScoreCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Lead_Scoring_Collection</targetReference>
            </connector>
            <label>Delete Previous Lead Scoring Collection Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Lead_Score_Exist</name>
        <label>Check Previous Lead Score Exist</label>
        <locationX>5627</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Lead_Scoring_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Lead_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_into_Previous_Lead_Score</targetReference>
            </connector>
            <label>Previous Lead Scoring Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Greater_Than_Matching</name>
        <label>Copy 1 of Greater Than Matching</label>
        <locationX>4472</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Age_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Age__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Number_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Lead_Scoring</targetReference>
            </connector>
            <label>Copy 1 of Age &gt;65</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Less_Than_Matching</name>
        <label>Copy 1 of Less Than Matching</label>
        <locationX>4912</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Age_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Age__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Number_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Lead_Scoring</targetReference>
            </connector>
            <label>Copy 1 of Age &lt;24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Number_Range_Matching</name>
        <label>Copy 1 of Number Range Matching</label>
        <locationX>4032</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Scoring.Range_Min__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Scoring.Range_Max__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Age__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lead_Scoring</targetReference>
            </connector>
            <label>Copy 1 of Age</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Text_Matching</name>
        <label>Copy 1 of Text Matching</label>
        <locationX>5528</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Ethnicity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ethnicity__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Text_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethnicity__r.Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Lead_Scoring</targetReference>
            </connector>
            <label>Copy 1 of Ethnicity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Data_Field</name>
        <label>Copy 2 of Data Field</label>
        <locationX>5682</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Text_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Text_Matching</targetReference>
            </connector>
            <label>Copy 1 of Text Comparison</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Greater_Than_Matching</name>
        <label>Copy 2 of Greater Than Matching</label>
        <locationX>6144</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_MY_Ensure_Total_Channel_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY_Ensure_Total_Channel_Response__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MY_Ensure_Total_Channel_Response__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Scoring.Number_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Lead_Scoring</targetReference>
            </connector>
            <label>Copy 1 of MY Ensure Total Channel Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Data_Field</name>
        <label>Copy 3 of Data Field</label>
        <locationX>6298</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Greater_Than_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater Than</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Greater_Than_Matching</targetReference>
            </connector>
            <label>Copy 2 of Greater Than Comparison</label>
        </rules>
    </decisions>
    <decisions>
        <name>CR_Market_Specific_Conditions</name>
        <label>CR Market Specific Conditions</label>
        <locationX>600</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_into_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MY_CR_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_into_CR.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_into_CR.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_into_CR.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENSURE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BR</targetReference>
            </connector>
            <label>MY CR Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field</name>
        <label>Field</label>
        <locationX>5627</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Age__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Age_Comparison</targetReference>
            </connector>
            <label>Age</label>
        </rules>
        <rules>
            <name>Ethnicity2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethnicity__r.Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Data_Field</targetReference>
            </connector>
            <label>Ethnicity</label>
        </rules>
        <rules>
            <name>MY_Ensure_Total_Channel_Response2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY_Ensure_Total_Channel_Response__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Data_Field</targetReference>
            </connector>
            <label>MY Ensure Total Channel Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stackable</name>
        <label>Is Stackable?</label>
        <locationX>6331</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Loop_into_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Stackable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Stackable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Delete_Previous_Lead_Score_Collection_is_Empty</targetReference>
            </connector>
            <label>Not Stackable</label>
        </rules>
        <rules>
            <name>Stackable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Stackable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Lead_Score_Check</targetReference>
            </connector>
            <label>Stackable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Specific_Conditions</name>
        <label>Market Specific Conditions</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MY_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adult</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_into_MY_BR</targetReference>
            </connector>
            <label>MY Market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Lead_Score_Check</name>
        <label>Previous Lead Score Check</label>
        <locationX>6507</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Loop_into_Previous_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ObjectId_match_with_current_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_into_Previous_Lead_Score.ObjectId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delete_Previous_Lead_Score_Based_on_ObjectId</targetReference>
            </connector>
            <label>ObjectId match with current RecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Lead_Score_Field_and_Object_Check</name>
        <label>Previous Lead Score Field and Object Check</label>
        <locationX>6023</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Assign_Delete_Previous_Lead_Score_Match_Field_and_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Lead_Score_exist_in_deletion_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_into_Previous_Lead_Score.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Field__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_into_Previous_Lead_Score.Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Object__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deletePreviousLeadScoreCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_into_Previous_Lead_Score</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_into_Previous_Lead_Score</targetReference>
            </connector>
            <label>Previous Lead Score exist in deletion collection</label>
        </rules>
    </decisions>
    <description>Lead Scoring creation based on fields and criteria in Contact Object</description>
    <interviewLabel>Lead Scoring Based on Contact Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Based on Contact Object</label>
    <loops>
        <name>Loop_into_CR</name>
        <label>Loop into CR</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_CR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CR_Market_Specific_Conditions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Market_Specific_Conditions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_into_MY_BR</name>
        <label>Loop into MY BR</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <collectionReference>relatedBR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Scoring</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Previous_Lead_Score_Deletion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_into_Previous_Lead_Score</name>
        <label>Loop into Previous Lead Score</label>
        <locationX>5583</locationX>
        <locationY>2735</locationY>
        <collectionReference>Get_Previous_Lead_Score</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Stackable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Scoring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Scoring</name>
        <label>Scoring</label>
        <locationX>3812</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Lead_Scoring_Table</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_into_MY_BR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_Score_Collection</name>
        <label>Create Lead Score Collection</label>
        <locationX>50</locationX>
        <locationY>4463</locationY>
        <inputReference>createLeadScoreCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Previous_Lead_Scoring_Collection</name>
        <label>Delete Previous Lead Scoring Collection</label>
        <locationX>50</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Check_if_Create_Lead_Score_Collection_Exist</targetReference>
        </connector>
        <inputReference>deletePreviousLeadScoreCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_BR</name>
        <label>Get BR</label>
        <locationX>468</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_relatedBR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_into_CR.BrandRelationship__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BrandRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CR</name>
        <label>Get CR</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Scoring_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invalid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Scoring_Table</name>
        <label>Get Lead Scoring Table</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_into_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Market__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Scoring_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To check if scoring has been done previously</description>
        <name>Get_Previous_Lead_Score</name>
        <label>Get Previous Lead Score</label>
        <locationX>5627</locationX>
        <locationY>2495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Lead_Score_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_into_MY_BR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CR</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Age__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ethnicity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MY_Ensure_Total_Channel_Response__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>createLeadScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>createLeadScoreCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>deletePreviousLeadScoreCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>relatedBR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
</Flow>
