force-app/main/default/flows/Lead_Scoring_Based_on_Case_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Delete_Previous_Lead_Scoring</name>
        <label>Assign Delete Previous Lead Scoring</label>
        <locationX>270</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>deletePreviousLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Previous_Lead_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Scoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delete_Previous_Lead_Scoring_Based_on_ObjectId</name>
        <label>Assign Delete Previous Lead Scoring Based on ObjectId</label>
        <locationX>974</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>deletePreviousLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_into_Previous_Lead_Scoring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_into_Previous_Lead_Scoring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Scoring</name>
        <label>Assign Lead Scoring</label>
        <locationX>916</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>createLeadScore.Brand_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedBrandRelationship__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.ObjectId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createLeadScore.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoring.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Scoring_Creation_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Scoring_Creation_Collection</name>
        <label>Assign Lead Scoring Creation Collection</label>
        <locationX>916</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>createLeadScoreCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scoring</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Boolean_Matching</name>
        <label>Boolean Matching</label>
        <locationX>1141</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engaged_with_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EngagedWithChat__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagedWithChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Scoring.Binary_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Lead_Score</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Engaged with Chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Create_Lead_Score_Collection_Exist</name>
        <label>Check if Create Lead Score Collection Exist</label>
        <locationX>182</locationX>
        <locationY>3143</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Lead_Score_Collection_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createLeadScoreCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Score_Collection</targetReference>
            </connector>
            <label>Create Lead Score Collection Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Delete_Previous_Lead_Scoring_Collection</name>
        <label>Check if Delete Previous Lead Scoring Collection</label>
        <locationX>182</locationX>
        <locationY>2807</locationY>
        <defaultConnector>
            <targetReference>Check_if_Create_Lead_Score_Collection_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Previous_Lead_Scoring_Collection_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deletePreviousLeadScoreCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Lead_Scoring_Collection</targetReference>
            </connector>
            <label>Delete Previous Lead Scoring Collection Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Lead_Scoring_exist</name>
        <label>Check Previous Lead Scoring exist</label>
        <locationX>916</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Lead_Scoring_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Lead_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Stackable</targetReference>
            </connector>
            <label>Previous Lead Scoring Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Field</name>
        <label>Data Field</label>
        <locationX>1385</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Boolean_Comparison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Data_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boolean</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boolean_Matching</targetReference>
            </connector>
            <label>Boolean Comparison</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stackable</name>
        <label>Is Stackable?</label>
        <locationX>642</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Stackable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Stackable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delete_Previous_Lead_Scoring</targetReference>
            </connector>
            <label>Not Stackable</label>
        </rules>
        <rules>
            <name>Stackable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scoring.Stackable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_into_Previous_Lead_Scoring</targetReference>
            </connector>
            <label>Stackable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Specific_Conditions</name>
        <label>Market Specific Conditions</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MY_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adult</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CR.Medium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CR.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CR.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENSURE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scoring</targetReference>
            </connector>
            <label>MY Market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Lead_Score_Check</name>
        <label>Previous Lead Score Check</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Loop_into_Previous_Lead_Scoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ObjectId_Match_with_Current_Lead_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_into_Previous_Lead_Scoring.ObjectId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Delete_Previous_Lead_Scoring_Based_on_ObjectId</targetReference>
            </connector>
            <label>ObjectId Match with Current Lead Score</label>
        </rules>
    </decisions>
    <description>Lead Scoring creation based on fields and criteria in Case Object</description>
    <interviewLabel>Lead Scoring Based on Case Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Based on Case Object</label>
    <loops>
        <name>Loop_into_Previous_Lead_Scoring</name>
        <label>Loop into Previous Lead Scoring</label>
        <locationX>886</locationX>
        <locationY>1535</locationY>
        <collectionReference>Get_Previous_Lead_Score</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Previous_Lead_Score_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Lead_Scoring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Scoring</name>
        <label>Scoring</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Lead_Scoring_Table</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Data_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Delete_Previous_Lead_Scoring_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_Score_Collection</name>
        <label>Create Lead Score Collection</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <inputReference>createLeadScoreCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Previous_Lead_Scoring_Collection</name>
        <label>Delete Previous Lead Scoring Collection</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>Check_if_Create_Lead_Score_Collection_Exist</targetReference>
        </connector>
        <inputReference>deletePreviousLeadScoreCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CR</name>
        <label>Get CR</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Scoring_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invalid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BrandRelationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChannelResponse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Scoring_Table</name>
        <label>Get Lead Scoring Table</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Specific_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Market__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Scoring_Table__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To check if scoring has been done previously</description>
        <name>Get_Previous_Lead_Score</name>
        <label>Get Previous Lead Score</label>
        <locationX>916</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Lead_Scoring_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scoring.Object__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scoring.Field__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Scoring__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedBrandRelationship__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedChannelResponse__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>createLeadScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>createLeadScoreCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>deletePreviousLeadScoreCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Scoring__c</objectType>
    </variables>
    <variables>
        <name>relatedBR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
</Flow>
