force-app/main/default/flows/MY_Call_Script_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Brand_Relationship_Lead_Status</name>
        <label>Assign Brand Relationship Lead Status</label>
        <locationX>1377</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>updatedBRStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr1_StatusLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR3_ReviewQuestionaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Brand_Relationship_User_Status</name>
        <label>Assign Brand Relationship User Status</label>
        <locationX>1377</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>updatedBRStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr1_StatusUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR3_ReviewQuestionaire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Error_Message</name>
        <label>Error Message</label>
        <locationX>1933</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_hasAddress</name>
        <label>Enable hasAddress</label>
        <locationX>545</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>hasAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR1_Questionaire</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pl_BRStatusContacted</name>
        <choiceText>Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusExisting</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusInvalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusLapsed</name>
        <choiceText>Lapsed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lapsed</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusQualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_BRStatusUncontacted</name>
        <choiceText>Uncontacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncontacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_defaultBRStatus</name>
        <choiceText>{!r_caseRecord.RelatedBrandRelationship__r.Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__r.Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultBRType</name>
        <choiceText>{!r_caseRecord.RelatedBrandRelationship__r.Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__r.Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultCountry</name>
        <choiceText>{!r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.Country__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.Country__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultMalaysia</name>
        <choiceText>Malaysia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malaysia</stringValue>
        </value>
    </choices>
    <constants>
        <name>category_Offline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Offline</stringValue>
        </value>
    </constants>
    <constants>
        <name>category_Online</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </constants>
    <constants>
        <name>type_Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>type_User</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Address_Mapping</name>
        <label>Address Mapping</label>
        <locationX>2092</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>End_Screem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online_without_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Online_Street1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>category_Online</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CR_Delivery_Address</targetReference>
            </connector>
            <label>Online without Address</label>
        </rules>
        <rules>
            <name>Online_with_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>category_Online</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Online_Street1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CR_Delivery_Address</targetReference>
            </connector>
            <label>Online with Address</label>
        </rules>
        <rules>
            <name>without_Default_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Offline_Street1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Online_Street1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Default_Address</targetReference>
            </connector>
            <label>without Default Address</label>
        </rules>
        <rules>
            <name>with_Default_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Offline_Street1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Default_Address</targetReference>
            </connector>
            <label>with Default Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Brand_Relationship_Type</name>
        <label>Brand Relationship Type</label>
        <locationX>1260</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr1_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>type_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Brand_Relationship_User_Status</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr1_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>type_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Brand_Relationship_Lead_Status</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Category</name>
        <label>Case Category</label>
        <locationX>936</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>category_Online</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_CR_has_Delivery_Address</targetReference>
            </connector>
            <label>Online</label>
        </rules>
        <rules>
            <name>Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>category_Offline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr2_ContactAddress</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category</name>
        <label>Category</label>
        <locationX>2294</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>End_Screem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Online2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>category_Online</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_CR_Delivery_Address</targetReference>
            </connector>
            <label>Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_has_an_existing_address</name>
        <label>Does Contact has an existing address?</label>
        <locationX>539</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>SCR1_Questionaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_contactAddressRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_hasAddress</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_CR_has_Delivery_Address</name>
        <label>Related CR has Delivery Address?</label>
        <locationX>939</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>scr2_ContactAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Delivery_Address</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>r_caseRecord.Contact.Default_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr2_DeliveryAddress</targetReference>
            </connector>
            <label>has Delivery Address</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pl_addressCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_BRStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_BRType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(LEFT({!var_Error}, FIND( &quot;You can look&quot;, {!var_Error} ) - 1 ),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Call Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Default_Address</name>
        <label>Create Contact Default Address</label>
        <locationX>2307</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>End_Screem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>offline_cityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>scr2_Offline_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultAddress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentContact__c</field>
            <value>
                <elementReference>r_caseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>scr2_Offline_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateProvince__c</field>
            <value>
                <elementReference>scr2_Offline_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street1__c</field>
            <value>
                <elementReference>scr2_Offline_Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street2__c</field>
            <value>
                <elementReference>scr2_Offline_Street2</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CR_Delivery_Address</name>
        <label>Create CR Delivery Address</label>
        <locationX>2307</locationX>
        <locationY>126</locationY>
        <assignRecordIdToReference>deliveryAddressId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Channel_Response_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>online_cityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>scr2_Online_CountryCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultAddress__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentContact__c</field>
            <value>
                <elementReference>r_caseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>scr2_Online_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateProvince__c</field>
            <value>
                <elementReference>scr2_Online_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street1__c</field>
            <value>
                <elementReference>scr2_Online_Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street2__c</field>
            <value>
                <elementReference>scr2_Online_Street2</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordCreates>
    <recordLookups>
        <description>Identify if there is an existing address related to Contact record.</description>
        <name>Retrieve_Address_Related_Contact</name>
        <label>Retrieve Address Related Contact</label>
        <locationX>240</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_has_an_existing_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DefaultAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>r_contactAddressRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get case record details for reference and updates</description>
        <name>Retrieve_Case_Details</name>
        <label>Retrieve Case Details</label>
        <locationX>240</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Related_Channel_Response_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>r_caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Market__c</queriedFields>
        <queriedFields>RelatedChannelResponse__c</queriedFields>
        <queriedFields>RelatedBrandRelationship__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>EngagedWithChat__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Related_Channel_Response_Details</name>
        <label>Retrieve Related Channel Response Details</label>
        <locationX>240</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Address_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <object>ChannelResponse__c</object>
        <outputReference>r_channelResponseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BrandRelationship__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Brand_Relationship</name>
        <label>Update Brand Relationship</label>
        <locationX>1834</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Address_Mapping</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.BrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>br_currentBrandId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateFirstUsed__c</field>
            <value>
                <elementReference>scr1_DateFirstUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>br_previousBrandId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>updatedBRStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>scr1_Type</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1665</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EngagedWithChat__c</field>
            <value>
                <elementReference>scr1_EngagedWithChat</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Channel_Response_Address</name>
        <label>Update Channel Response Address</label>
        <locationX>2523</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>End_Screem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryAddress__c</field>
            <value>
                <elementReference>deliveryAddressId</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1674</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Update_Brand_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_channelResponseRecord.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified__c</field>
            <value>
                <elementReference>scr1_Verified</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Default_Address</name>
        <label>Update Contact Default Address</label>
        <locationX>2108</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Category</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.Contact.Default_Address__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>offline_cityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>pl_defaultMalaysia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>scr2_Offline_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateProvince__c</field>
            <value>
                <elementReference>scr2_Offline_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street1__c</field>
            <value>
                <elementReference>scr2_Offline_Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street2__c</field>
            <value>
                <elementReference>scr2_Offline_Street2</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CR_Delivery_Address</name>
        <label>Update CR Delivery Address</label>
        <locationX>2373</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>End_Screem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City2__c</field>
            <value>
                <elementReference>online_cityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>scr2_Online_CountryUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>scr2_Online_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateProvince__c</field>
            <value>
                <elementReference>scr2_Online_StateProvince</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street1__c</field>
            <value>
                <elementReference>scr2_Online_Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street2__c</field>
            <value>
                <elementReference>scr2_Online_Street2</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_CR_Delivery_Address</name>
        <label>Update Related CR Delivery Address</label>
        <locationX>2295</locationX>
        <locationY>1109</locationY>
        <connector>
            <targetReference>End_Screem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_caseRecord.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryAddress__c</field>
            <value>
                <elementReference>r_caseRecord.Contact.Default_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>ChannelResponse__c</object>
    </recordUpdates>
    <screens>
        <name>End_Screem</name>
        <label>End Screen</label>
        <locationX>2767</locationX>
        <locationY>856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Records successfully updated.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr0</name>
        <label>Error Message</label>
        <locationX>1798</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr0_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;tes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR1_Questionaire</name>
        <label>SCR1 Questionaire</label>
        <locationX>783</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Category</targetReference>
        </connector>
        <fields>
            <name>sc1_BrandRelationship</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(109, 107, 112);&quot;&gt;Brand Relationship&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(109, 107, 112);&quot;&gt;{!r_caseRecord.RelatedChannelResponse__r.BrandRelationship__r.BrandRelationship__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc1_Category</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(109, 107, 112); font-size: 12px;&quot;&gt;Category&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(109, 107, 112);&quot;&gt;{!r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sc1_LocationName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Location Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;   {!r_caseRecord.RelatedChannelResponse__r.LocationName__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr1_EngagedWithChat</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.EngagedWithChat__c</elementReference>
            </defaultValue>
            <fieldText>Engaged With Chat</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr1_CurrentBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>defaultCurrentBrandId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>br_currentBrandId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>br_currentBrandName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr1_PreviousBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Previous Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>defaultPrevioudBrandId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>br_previousBrandId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>br_previousBrandName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr1_Type</name>
            <choiceReferences>pl_defaultBRType</choiceReferences>
            <choiceReferences>pl_BRType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBRType</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr1_StatusUser</name>
            <choiceReferences>pl_defaultBRStatus</choiceReferences>
            <choiceReferences>pl_BRStatusNew</choiceReferences>
            <choiceReferences>pl_BRStatusExisting</choiceReferences>
            <choiceReferences>pl_BRStatusLapsed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBRStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr1_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>type_User</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr1_StatusLead</name>
            <choiceReferences>pl_defaultBRStatus</choiceReferences>
            <choiceReferences>pl_BRStatusUncontacted</choiceReferences>
            <choiceReferences>pl_BRStatusContacted</choiceReferences>
            <choiceReferences>pl_BRStatusQualified</choiceReferences>
            <choiceReferences>pl_BRStatusInvalid</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr1_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>type_Lead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr1_DateFirstUsed</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultDateFirstUsed</elementReference>
            </defaultValue>
            <fieldText>Date First Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_Verified</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.Contact.Verified__c</elementReference>
            </defaultValue>
            <fieldText>Verified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2_ContactAddress</name>
        <label>SCR2 Contact Address</label>
        <locationX>1166</locationX>
        <locationY>601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Brand_Relationship_Type</targetReference>
        </connector>
        <fields>
            <name>scr2_label_ContactAddress</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Contact Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr2_Offline_Street1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.Contact.Default_Address__r.Street1__c</elementReference>
            </defaultValue>
            <fieldText>Street1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Offline_Street2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.Contact.Default_Address__r.Street2__c</elementReference>
            </defaultValue>
            <fieldText>Street2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Offline_City</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>City2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>default_CityId_Contact</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>offline_cityId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>offline_cityName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr2_Offline_StateProvince</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.Contact.Default_Address__r.StateProvince__c</elementReference>
            </defaultValue>
            <fieldText>State / Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Offline_PostalCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.Contact.Default_Address__r.PostalCode__c</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Offline_Country</name>
            <choiceReferences>pl_defaultMalaysia</choiceReferences>
            <choiceReferences>pl_addressCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultMalaysia</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2_DeliveryAddress</name>
        <label>SCR2 Delivery Address</label>
        <locationX>1170</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Brand_Relationship_Type</targetReference>
        </connector>
        <fields>
            <name>scr2_label_DeliveryAddress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Delivery Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr2_Online_Street1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.Street1__c</elementReference>
            </defaultValue>
            <fieldText>Street1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Online_Street2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.Street2__c</elementReference>
            </defaultValue>
            <fieldText>Street2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Online_City</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>City2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>default_CityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>online_cityId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>online_cityName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr2_Online_StateProvince</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.StateProvince__c</elementReference>
            </defaultValue>
            <fieldText>State / Provice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Online_PostalCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.PostalCode__c</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_Online_CountryUpdate</name>
            <choiceReferences>pl_defaultCountry</choiceReferences>
            <choiceReferences>pl_addressCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultCountry</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_defaultCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr2_Online_CountryCreate</name>
            <choiceReferences>pl_defaultMalaysia</choiceReferences>
            <choiceReferences>pl_addressCountry</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultMalaysia</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_defaultCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR3_ReviewQuestionaire</name>
        <label>SCR3 Review Questionaire</label>
        <locationX>1507</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>scr3_BrandRelationship</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Brand Relationship: &lt;/b&gt;{!r_caseRecord.RelatedChannelResponse__r.BrandRelationship__r.BrandRelationship__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Category</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Category: &lt;/b&gt;{!r_caseRecord.RelatedChannelResponse__r.Channel__r.Category__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_LocationName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Location Name: &lt;/b&gt;{!r_caseRecord.RelatedChannelResponse__r.LocationName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_EngagedWithChat</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Engaged With Chat: &lt;/b&gt;{!scr1_EngagedWithChat}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_CurrentBrand</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Brand: &lt;/b&gt;{!br_currentBrandName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_PreviousBrand</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Previous Brand: &lt;/b&gt;{!br_previousBrandName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Type</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Type: &lt;/b&gt;{!scr1_Type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Status</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!updatedBRStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_DateFirstUsed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Date First Used: &lt;/b&gt;{!scr1_DateFirstUsed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Verified</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Verified: &lt;/b&gt;{!scr1_Verified}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank_Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;________________________________________________________________________&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delivery_Address_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Delivery Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_Street1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Street1: &lt;/b&gt;{!scr2_Online_Street1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_Street2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Street2: &lt;/b&gt;{!scr2_Online_Street2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_City</name>
            <fieldText>&lt;p&gt;&lt;b&gt;City: &lt;/b&gt;{!online_cityName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_StateProvince</name>
            <fieldText>&lt;p&gt;&lt;b&gt;State / Province: &lt;/b&gt;{!scr2_Online_StateProvince}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_PostalCode</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Postal Code: &lt;/b&gt;{!scr2_Online_PostalCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_CountryUpdate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Country: &lt;/b&gt;{!scr2_Online_CountryUpdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pl_defaultCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Online_CountryCreate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Country: &lt;/b&gt;{!scr2_Online_CountryCreate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Online_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>pl_defaultCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Address_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Contact Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_Street1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Street1: &lt;/b&gt;{!scr2_Offline_Street1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_Street2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Street2: &lt;/b&gt;{!scr2_Offline_Street2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_City</name>
            <fieldText>&lt;p&gt;&lt;b&gt;City:&lt;/b&gt; {!offline_cityName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_StateProvince</name>
            <fieldText>&lt;p&gt;&lt;b&gt;State / Province:&lt;/b&gt;{!scr2_Offline_StateProvince}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_PostalCode</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Postal Code:&lt;/b&gt; {!scr2_Offline_PostalCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr3_Offline_Country</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Country:&lt;/b&gt; {!scr2_Offline_Country}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Offline_Street1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrieve_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>br_currentBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_currentBrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_previousBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_previousBrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_updatedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>scr1_StatusUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>case_relatedBRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_relatedBRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_CityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.RelatedChannelResponse__r.DeliveryAddress__r.City2__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>default_CityId_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.Contact.Default_Address__r.City2__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultBrandRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultCurrentBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultDateFirstUsed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__r.DateFirstUsed__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>defaultPrevioudBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_caseRecord.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>deliveryAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isOnline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>offline_cityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offline_cityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>online_cityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>online_cityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>r_brandRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
    <variables>
        <name>r_caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>r_channelResponseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelResponse__c</objectType>
    </variables>
    <variables>
        <name>r_contactAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>r_deliveryAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>updatedBRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
