force-app/main/default/flows/PED_Post_N_6M_11M.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>915</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScrnError</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Post_N</name>
        <choiceText>Post-N</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PostN</elementReference>
        </value>
    </choices>
    <constants>
        <name>PostN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PostN</stringValue>
        </value>
    </constants>
    <description>BrandSwitchReason__c update</description>
    <dynamicChoiceSets>
        <name>BrandSwitchingAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BrandSwitchingAgeinMonths__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Howlongplantofeedbreastmilktochild</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Howlongplantofeedbreastmilktochild__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforNoPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonsforNoPurchase__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstopickanAbbottBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstopickanAbbottBrand__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!varError} ) &gt; 0, LEFT({!varError}, FIND( &quot;You can look&quot;, {!varError} ) - 1 ), {!varError}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>PED-Post-N-6M&amp;11M {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PED-Post-N-6M&amp;11M</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BR_Obj</name>
        <label>Update BR Obj</label>
        <locationX>461</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>AffliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandSwitchingAgeinMonths__c</field>
            <value>
                <elementReference>BrandSwitchingAgeinMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonstopickanAbbottBrand__c</field>
            <value>
                <elementReference>ReasonstopickanAbbottBrand</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Obj</name>
        <label>Update Case Obj</label>
        <locationX>200</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_Contact_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>AffliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonsforNoPurchase__c</field>
            <value>
                <elementReference>ReasonsforNoPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>AffliateValue.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Obj</name>
        <label>Update Contact Obj</label>
        <locationX>380</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Update_BR_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.CallRegarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birth_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>PED_Post_N_6M_11M_Survey</name>
        <label>PED-Post-N-6M&amp;11M Survey</label>
        <locationX>321</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>PED_Post_N_6M_11M</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PED-Post-N-6M&amp;amp;11M&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyContacted</name>
            <choiceReferences>CallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallOutcome__c</elementReference>
            </defaultValue>
            <fieldText>是否成功電訪 || Successfully Contacted ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AffliateValue</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>放棄原因 || Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Birth_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Update寶寶生日 (請更正生日日期)  || Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>目前使用品牌(記錄產品群代碼) 現用主品牌  ||  Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>之前使用品牌.(記錄產品群代碼) 上回主品牌  || Previous Brand </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AffliateValue3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>原品牌轉奶原因 (轉牌原因代碼) || Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BrandSwitchingAgeinMonths</name>
            <choiceReferences>BrandSwitchingAge</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchReason__c</elementReference>
            </defaultValue>
            <fieldText>轉換月齡  ||  Brand Switching Age (in Months)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_to_pick_an_Abbott_Brand</name>
            <choiceReferences>ReasonstopickanAbbottBrand</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.ReasonstopickanAbbottBrand__c</elementReference>
            </defaultValue>
            <fieldText>選奶原因 (選奶原因代碼)  || Reasons to pick an Abbott Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_do_you_plan_to_feed_breastmilk_to_the_child</name>
            <choiceReferences>Howlongplantofeedbreastmilktochild</choiceReferences>
            <dataType>String</dataType>
            <fieldText>母乳哺餵長度  || How long do you plan to feed breastmilk to the child?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_for_No_Purchase</name>
            <choiceReferences>ReasonsforNoPurchase</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.ReasonsforNoPurchase__c</elementReference>
            </defaultValue>
            <fieldText>未購買原因 || Reasons for No Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>{!f_ErrorMessage}</description>
        <name>ScrnError</name>
        <label>ScrnError</label>
        <locationX>1146</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(244, 48, 22); background-color: rgb(255, 255, 255);&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>675</locationX>
        <locationY>184</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Survey completed successfully !&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>26</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>PED_Post_N_6M_11M_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
