force-app/main/default/flows/PED_Pre_N.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1202</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <description>BrandSwitchReason__c update</description>
    <dynamicChoiceSets>
        <name>BirthOrders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Birth_Order__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BrandSwitchingAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BrandSwitchingAgeinMonths__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Howlongplantofeedbreastmilktochild</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Howlongplantofeedbreastmilktochild__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforNoPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonsforNoPurchase__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstopickanAbbottBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstopickanAbbottBrand__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wheredidyoureceivethecompetitorproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wheredidyoureceivecompetitorproduct__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!varError} ) &gt; 0, LEFT({!varError}, FIND( &quot;You can look&quot;, {!varError} ) - 1 ), {!varError}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>PED-Pre-N {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PED-Pre-N</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Adult_Contact_Obj</name>
        <label>Update Adult Contact Obj</label>
        <locationX>581</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Update_BR_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedDueDate__c</field>
            <value>
                <elementReference>EDD</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BR_Obj</name>
        <label>Update BR Obj</label>
        <locationX>777</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Update_NH_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchingAgeinMonths__c</field>
            <value>
                <elementReference>BrandSwitchingAgeinMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonstopickanAbbottBrand__c</field>
            <value>
                <elementReference>ReasonstopickanAbbottBrand</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Obj</name>
        <label>Update Case Obj</label>
        <locationX>199</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Update_Child_Contact_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>AffliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Howmanyproductsdidyoureceive__c</field>
            <value>
                <elementReference>How_many_products_did_you_receive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrenatalCall__c</field>
            <value>
                <elementReference>Is_this_a_Prenatal_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonsforNoPurchase__c</field>
            <value>
                <elementReference>ReasonsforNoPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wheredidyoureceivecompetitorproduct__c</field>
            <value>
                <elementReference>Wheredidyoureceivethecompetitorproduct</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Contact_Obj</name>
        <label>Update Child Contact Obj</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Update_Adult_Contact_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.CallRegarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BirthHospital__c</field>
            <value>
                <elementReference>Institution.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Order__c</field>
            <value>
                <elementReference>BirthOrders</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NH_Record</name>
        <label>Update NH Record</label>
        <locationX>1155</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.MedicalDiagnosis__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Howlongplantofeedbreastmilktochild__c</field>
            <value>
                <elementReference>Howlongplantofeedbreastmilktochild</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Diagnosis__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>925</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 48, 22); font-size: 14px;&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pre_N_Survey</name>
        <label>Pre-N Survey</label>
        <locationX>369</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>PED_Pre_N</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PED-Pre-N&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyContacted</name>
            <choiceReferences>CallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallOutcome__c</elementReference>
            </defaultValue>
            <fieldText>是否成功電訪  || Successfully Contacted ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AffiliateValue1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>放棄原因  || Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EDD</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseObj.Contact.EstimatedDueDate__c</elementReference>
            </defaultValue>
            <fieldText>Update  預產期(年/月/日) ||  EDD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Institution</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update 生產醫院 (請參考醫院代碼) ||  Delivery Hospital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BirthHospital__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.CallRegarding__r.BirthHospital__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Birth_Orders</name>
            <choiceReferences>BirthOrders</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Birth_Order__c</elementReference>
            </defaultValue>
            <fieldText>Birth Orders</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>目前使用品牌(記錄產品群代碼) 現用主品牌  || Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>之前使用品牌(記錄產品群代碼) 上回主品牌  || Previous Brand </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AffliateValue3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>原品牌轉奶原因 (轉牌原因代碼)  || Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BrandSwitchingAgeinMonths</name>
            <choiceReferences>BrandSwitchingAge</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchingAgeinMonths__c</elementReference>
            </defaultValue>
            <fieldText>轉換月齡  || Brand Switching Age (in Months)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_to_pick_an_Abbott_Brand</name>
            <choiceReferences>ReasonstopickanAbbottBrand</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.ReasonstopickanAbbottBrand__c</elementReference>
            </defaultValue>
            <fieldText>選奶原因 (選奶原因代碼) || Reasons to pick an Abbott Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_do_you_plan_to_feed_breastmilk_to_the_child</name>
            <choiceReferences>Howlongplantofeedbreastmilktochild</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Howlongplantofeedbreastmilktochild__c</elementReference>
            </defaultValue>
            <fieldText>母乳哺餵長度 || How long do you plan to feed breastmilk to the child?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_for_No_Purchase</name>
            <choiceReferences>ReasonsforNoPurchase</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.ReasonsforNoPurchase__c</elementReference>
            </defaultValue>
            <fieldText>未購買原因 || Reasons for No Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_this_a_Prenatal_Call</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseObj.PrenatalCall__c</elementReference>
            </defaultValue>
            <fieldText>Is this a Prenatal Call?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Where_did_you_receive_the_competitor_product</name>
            <choiceReferences>Wheredidyoureceivethecompetitorproduct</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.Wheredidyoureceivecompetitorproduct__c</elementReference>
            </defaultValue>
            <fieldText>Where did you receive the competitor product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_products_did_you_receive</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseObj.Howmanyproductsdidyoureceive__c</elementReference>
            </defaultValue>
            <fieldText>How many products did you receive?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1421</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Survey completed successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>87</locationX>
        <locationY>91</locationY>
        <connector>
            <targetReference>Pre_N_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
