force-app/main/default/flows/PED_PSC_Hopar_Digital.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>978</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <description>TKT-010797</description>
    <dynamicChoiceSets>
        <name>BrandSwitchingAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BrandSwitchingAgeinMonths__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrequencytoconsumePediasureproducts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FrequencytoconsumePediasureproducts__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowdidyouknowaboutPediasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HowdidyouknowaboutPediasure__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowdoesyourchildconsumePediasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HowdoesyourchildconsumePediasure__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowmuchPediasureproductdoesthechilduseeverytime</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scoopsperserving__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchasingChannel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PurchasingChannel__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforNoPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonsforNoPurchase__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstopickanAbbottBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstopickanAbbottBrand__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reasonstousewithothercondensedmilk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reasonstousewithothercondensedmilk__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonswhythechilddidntcontinuetousePediasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhychilddidntcontinueusePediasure__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reasonswhythechilddidnttrythesample</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whythechilddidnttrythesample__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatFlavorDoYouLetYourChildDrink</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhatFlavorDoYouLetYourChildDrink__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatFlavorInTheTrialPack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhatFlavorInTheTrialPack__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatPackingCapacityToBuy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhatPackingCapacityToBuy__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhichformofPediasureisused</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhichformofPediasureisused__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhichofthefollowingdoyourecallfromthePediasureadsyouhaveseen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RecallPediasureadsyouhaveseen__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhydidyouwantyourkidtotryPediasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhyyouwantyourkidtotryPediasure__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!varError} ) &gt; 0, LEFT({!varError}, FIND( &quot;You can look&quot;, {!varError} ) - 1 ), {!varError}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>PED-PSC (Hopar &amp; Digital) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PED-PSC (Hopar &amp; Digital)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BR_Obj</name>
        <label>Update BR Obj</label>
        <locationX>454</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Update_NH_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Obj</name>
        <label>Update Case Obj</label>
        <locationX>222</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Update_BR_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchasingChannel__c</field>
            <value>
                <elementReference>PurchasingChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonsforNoPurchase__c</field>
            <value>
                <elementReference>ReasonsforNoPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NH_Records</name>
        <label>Update NH Records</label>
        <locationX>540</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.MedicalDiagnosis__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Didthechildtrythesample__c</field>
            <value>
                <elementReference>Did_the_child_try_the_sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FrequencytoconsumePediasureproducts__c</field>
            <value>
                <elementReference>FrequencytoconsumePediasureproducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowdidyouknowaboutPediasure__c</field>
            <value>
                <elementReference>HowdidyouknowaboutPediasure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowdoesyourchildconsumePediasure__c</field>
            <value>
                <elementReference>HowdoesyourchildconsumePediasure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsthechildcurrentlyusingPediasure__c</field>
            <value>
                <elementReference>Is_the_child_currently_using_Pediasure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasonstousewithothercondensedmilk__c</field>
            <value>
                <elementReference>Reasonstousewithothercondensedmilk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecallPediasureadsyouhaveseen__c</field>
            <value>
                <elementReference>WhichofthefollowingdoyourecallfromthePediasureadsyouhaveseen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scoopsperserving__c</field>
            <value>
                <elementReference>HowmuchPediasureproductdoesthechilduseeverytime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatFlavorDoYouLetYourChildDrink__c</field>
            <value>
                <elementReference>WhatFlavorDoYouLetYourChildDrink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatFlavorInTheTrialPack__c</field>
            <value>
                <elementReference>WhatFlavorInTheTrialPack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatPackingCapacityToBuy__c</field>
            <value>
                <elementReference>WhatPackingCapacityToBuy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhichformofPediasureisused__c</field>
            <value>
                <elementReference>WhichformofPediasureisused</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhychilddidntcontinueusePediasure__c</field>
            <value>
                <elementReference>ReasonswhythechilddidntcontinuetousePediasure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whythechilddidnttrythesample__c</field>
            <value>
                <elementReference>Reasonswhythechilddidnttrythesample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhyyouwantyourkidtotryPediasure__c</field>
            <value>
                <elementReference>WhydidyouwantyourkidtotryPediasure</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Diagnosis__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>854</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(244, 48, 22); background-color: rgb(255, 255, 255);&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PED_PSC_Hopar_Digital_Survey</name>
        <label>PED-PSC (Hopar &amp; Digital) Survey</label>
        <locationX>364</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>PED_PSC</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PED-PSC (Hopar &amp;amp; Digital)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyContacted</name>
            <choiceReferences>CallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallOutcome__c</elementReference>
            </defaultValue>
            <fieldText>是否成功電訪 || Successfully Contacted ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AffiliateValue1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>放棄原因  ||  Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_did_you_know_about_Pediasure</name>
            <choiceReferences>HowdidyouknowaboutPediasure</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.HowdidyouknowaboutPediasure__c</elementReference>
            </defaultValue>
            <fieldText>媽媽是透過甚麼方式認識小安素的 || How did you know about Pediasure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Which_of_the_following_do_you_recall_from_the_Pediasure_ads_you_have_seen</name>
            <choiceReferences>WhichofthefollowingdoyourecallfromthePediasureadsyouhaveseen</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.RecallPediasureadsyouhaveseen__c</elementReference>
            </defaultValue>
            <fieldText>請問下列哪一個訊息，是媽媽看到的小安素宣傳廣告的訴有印象的 (以下唸下來，有印象的就說有) || Which of the following do you recall from the Pediasure ads you have seen?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_want_your_kid_to_try_Pediasure</name>
            <choiceReferences>WhydidyouwantyourkidtotryPediasure</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.WhyyouwantyourkidtotryPediasure__c</elementReference>
            </defaultValue>
            <fieldText>是甚麼原因會想讓小朋友試試看小安素 || Why did you want your kid to try Pediasure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>目前使用奶粉品牌 (非小安素使用者.品牌代碼) || Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>使用小安素之前使用奶粉品牌 || Previous Brand </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Did_the_child_try_the_sample</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Didthechildtrythesample__c</elementReference>
            </defaultValue>
            <fieldText>拿到試用包後媽媽有先給小朋友試用嗎 || Did the child try the sample?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_the_child_currently_using_Pediasure</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.IsthechildcurrentlyusingPediasure__c</elementReference>
            </defaultValue>
            <fieldText>現在有讓小朋友繼續使用小安素嗎 || Is the child currently using Pediasure?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_form_of_Pediasure_is_used</name>
            <choiceReferences>WhichformofPediasureisused</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.WhichformofPediasureisused__c</elementReference>
            </defaultValue>
            <fieldText>使用何種小安素產品 || Which form of Pediasure is used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Packing_capacity</name>
            <choiceReferences>WhatPackingCapacityToBuy</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.WhatPackingCapacityToBuy__c</elementReference>
            </defaultValue>
            <fieldText>請問購買哪種包裝容量? || What kind of packing capacity to buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_does_your_child_consume_Pediasure</name>
            <choiceReferences>HowdoesyourchildconsumePediasure</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.HowdoesyourchildconsumePediasure__c</elementReference>
            </defaultValue>
            <fieldText>小安素使用方式  || How does your child consume Pediasure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_to_use_with_other_condensed_milk</name>
            <choiceReferences>Reasonstousewithothercondensedmilk</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Reasonstousewithothercondensedmilk__c</elementReference>
            </defaultValue>
            <fieldText>搭配其他奶粉使用原因  || Reasons to use with other condensed milk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Frequency_to_consume_Pediasure_products</name>
            <choiceReferences>FrequencytoconsumePediasureproducts</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.FrequencytoconsumePediasureproducts__c</elementReference>
            </defaultValue>
            <fieldText>每天使用小安素幾次?  || Frequency to consume Pediasure products?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_much_Pediasure_product_does_the_child_use_everytime</name>
            <choiceReferences>HowmuchPediasureproductdoesthechilduseeverytime</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Scoopsperserving__c</elementReference>
            </defaultValue>
            <fieldText>每次使用幾匙/幾瓶小安素  || How much Pediasure product does the child use everytime?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_why_the_child_didn_t_try_the_sample</name>
            <choiceReferences>Reasonswhythechilddidnttrythesample</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Whythechilddidnttrythesample__c</elementReference>
            </defaultValue>
            <fieldText>沒有給小朋友試用的原因?  || Reasons why the child didn&apos;t try the sample?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_why_the_child_didn_t_continue_to_use_Pediasure</name>
            <choiceReferences>ReasonswhythechilddidntcontinuetousePediasure</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.WhychilddidntcontinueusePediasure__c</elementReference>
            </defaultValue>
            <fieldText>沒有繼續使用小安素的原因  || Reasons why the child didn&apos;t continue to use Pediasure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Purchasing_Channel</name>
            <choiceReferences>PurchasingChannel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.PurchasingChannel__c</elementReference>
            </defaultValue>
            <fieldText>購買通路  || Purchasing Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_for_No_Purchase</name>
            <choiceReferences>ReasonsforNoPurchase</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.ReasonsforNoPurchase__c</elementReference>
            </defaultValue>
            <fieldText>未購買原因 || Reasons for No Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>752</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Survey completed successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>PED_PSC_Hopar_Digital_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
