force-app/main/default/flows/PED_SA_Hopar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1103</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DoesmomknowbenefitsofSimilac_c</name>
        <choiceText>DoesmomknowbenefitsofSimilac__c</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DoesmomknowbenefitsofSimilac__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>HowdoesthechildconsumeSimilac_c</name>
        <choiceText>HowdoesthechildconsumeSimilac__c</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HowdoesthechildconsumeSimilac__c</stringValue>
        </value>
    </choices>
    <description>TKT-010753</description>
    <dynamicChoiceSets>
        <name>BrandSwitchingAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BrandSwitchingAgeinMonths__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoesmomknowbenefitsofSimilac</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DoesmomknowbenefitsofSimilac__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowdoesthechildconsumeSimilac</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HowdoesthechildconsumeSimilac__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchasingChannel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PurchasingChannel__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforNoPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonsforNoPurchase__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstopickanAbbottBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstopickanAbbottBrand__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstoRecommandorNotRecommand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstoRecommandorNotRecommand__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonswhythechilddidntcontinuetouseSimilac</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WhychilddidntcontinueuseSimilac__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whyifhaventopenthesample</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whyifhaventopenthesample__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!varError} ) &gt; 0, LEFT({!varError}, FIND( &quot;You can look&quot;, {!varError} ) - 1 ), {!varError}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>PED-SA (Hopar) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PED-SA (Hopar)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BR_Obj</name>
        <label>Update BR Obj</label>
        <locationX>548</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Update_NH_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonstopickanAbbottBrand__c</field>
            <value>
                <elementReference>ReasonstopickanAbbottBrand</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Obj</name>
        <label>Update Case Obj</label>
        <locationX>194</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Update_Child_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvalidReason__c</field>
            <value>
                <elementReference>AffiliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchasingChannel__c</field>
            <value>
                <elementReference>PurchasingChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonsforNoPurchase__c</field>
            <value>
                <elementReference>ReasonsforNoPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UncontactableReason__c</field>
            <value>
                <elementReference>AffiliateValue4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Record</name>
        <label>Update Child Record</label>
        <locationX>414</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Update_BR_Obj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.CallRegarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BirthHospital__c</field>
            <value>
                <elementReference>Institution.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birth_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NH_Records</name>
        <label>Update NH Records</label>
        <locationX>677</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.MedicalDiagnosis__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DoesmomknowbenefitsofSimilac__c</field>
            <value>
                <elementReference>DoesmomknowbenefitsofSimilac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Havealreadyopenedthesample__c</field>
            <value>
                <elementReference>Have_already_opened_the_sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowdoesthechildconsumeSimilac__c</field>
            <value>
                <elementReference>HowdoesthechildconsumeSimilac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OthrchanneltrypurchasngSimilac__c</field>
            <value>
                <elementReference>Did_you_make_a_purchase_from_other_channels_after_trying_out_Similac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonstoRecommandorNotRecommand__c</field>
            <value>
                <elementReference>ReasonstoRecommandorNotRecommand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhychilddidntcontinueuseSimilac__c</field>
            <value>
                <elementReference>ReasonswhythechilddidntcontinuetouseSimilac</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whyifhaventopenthesample__c</field>
            <value>
                <elementReference>Whyifhaventopenthesample</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Diagnosis__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1209</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 48, 22); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PED_SA_Hopar_Survey</name>
        <label>PED-SA (Hopar) Survey</label>
        <locationX>474</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>PED_SA</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PED-SA (Hopar)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyContacted</name>
            <choiceReferences>CallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallOutcome__c</elementReference>
            </defaultValue>
            <fieldText>是否成功電訪  || Successfully Contacted ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AffiliateValue1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>放棄原因  || Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>InvalidReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.InvalidReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue4</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UncontactableReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uncontactable Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UncontactableReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Uncontactable</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Birth_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Update寶寶生日 (請更正生日日期)  ||  Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Institution</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BirthHospital__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update 生產醫院 (請參考醫院代碼)  ||  Delivery Hospital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.CallRegarding__r.BirthHospital__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>目前使用的產品? (紀錄現用品牌代號)  || Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>使用親護前是使用哪個產品呢? (品牌代號) ||  Previous Brand </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reasons_to_pick_an_Abbott_Brand</name>
            <choiceReferences>ReasonstopickanAbbottBrand</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.ReasonstopickanAbbottBrand__c</elementReference>
            </defaultValue>
            <fieldText>選奶原因  || Reasons to pick an Abbott Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Reason_to_Pick_Abbott_Brand</name>
            <dataType>String</dataType>
            <fieldText>Other Reason to Pick Abbott Brand</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reasons_to_pick_an_Abbott_Brand</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ZZ-其他原因(需有備註欄 )</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_already_opened_the_sample</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Havealreadyopenedthesample__c</elementReference>
            </defaultValue>
            <fieldText>是否已經開封使用 || Have already opened the sample?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Why_if_haven_t_open_the_sample</name>
            <choiceReferences>Whyifhaventopenthesample</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Whyifhaventopenthesample__c</elementReference>
            </defaultValue>
            <fieldText>確認未開封原因 || Why if haven&apos;t open the sample?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_does_the_child_consume_Similac</name>
            <choiceReferences>HowdoesthechildconsumeSimilac</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.HowdoesthechildconsumeSimilac__c</elementReference>
            </defaultValue>
            <fieldText>除了使用亞培心美力配方 還有搭配其他產品? || How does the child consume Similac?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Did_you_make_a_purchase_from_other_channels_after_trying_out_Similac</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.OthrchanneltrypurchasngSimilac__c</elementReference>
            </defaultValue>
            <fieldText>試用心美力之後有去其他通路購買嗎 || Did you make a purchase from other channels after trying out Similac?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_mom_know_the_selling_point_benefits_of_Similac</name>
            <choiceReferences>DoesmomknowbenefitsofSimilac</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.DoesmomknowbenefitsofSimilac__c</elementReference>
            </defaultValue>
            <fieldText>媽媽知道心美力的產品特色是甚麼呢(不提示) || Does the mom know the selling point/ benefits of Similac?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_to_Recommand_or_Not_Recommand</name>
            <choiceReferences>ReasonstoRecommandorNotRecommand</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.ReasonstoRecommandorNotRecommand__c</elementReference>
            </defaultValue>
            <fieldText>不耐受問題之症狀與推薦的原因 || Reasons to Recommand or Not Recommand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_why_the_child_didn_t_continue_to_use_Similac</name>
            <choiceReferences>ReasonswhythechilddidntcontinuetouseSimilac</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.WhychilddidntcontinueuseSimilac__c</elementReference>
            </defaultValue>
            <fieldText>沒有繼續使用的原因 || Reasons why the child didn&apos;t continue to use Similac?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Purchasing_Channel</name>
            <choiceReferences>PurchasingChannel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.PurchasingChannel__c</elementReference>
            </defaultValue>
            <fieldText>購買通路 || Purchasing Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_for_No_Purchase</name>
            <choiceReferences>ReasonsforNoPurchase</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.ReasonsforNoPurchase__c</elementReference>
            </defaultValue>
            <fieldText>未購買原因 || Reasons for No Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>812</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Survey completed successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>75</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>PED_SA_Hopar_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
