force-app/main/default/flows/Post_N_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>1202</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>varError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Post_N</name>
        <choiceText>Post-N</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PostN</elementReference>
        </value>
    </choices>
    <constants>
        <name>PostN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PostN</stringValue>
        </value>
    </constants>
    <description>Brand switch reason update</description>
    <dynamicChoiceSets>
        <name>BirthOrders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Birth_Order__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BrandSwitchingAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BrandSwitchingAgeinMonths__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Howlongplantofeedbreastmilktochild</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Howlongplantofeedbreastmilktochild__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonsforNoPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonsforNoPurchase__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonstopickanAbbottBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonstopickanAbbottBrand__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!varError} ) &gt; 0, LEFT({!varError}, FIND( &quot;You can look&quot;, {!varError} ) - 1 ), {!varError}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Post-N Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post-N Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BR_Obj</name>
        <label>Update BR Obj</label>
        <locationX>523</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Update_NH_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>AffliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandSwitchingAgeinMonths__c</field>
            <value>
                <elementReference>BrandSwitchingAgeinMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonstopickanAbbottBrand__c</field>
            <value>
                <elementReference>ReasonstopickanAbbottBrand</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Obj</name>
        <label>Update Case Obj</label>
        <locationX>209</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Update_Contact_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>AffliateValue3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>Product1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>Product2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonsforNoPurchase__c</field>
            <value>
                <elementReference>ReasonsforNoPurchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>AffiliateValue2.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Obj</name>
        <label>Update Contact Obj</label>
        <locationX>368</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Update_BR_Obj</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.CallRegarding__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BirthHeight__c</field>
            <value>
                <elementReference>Birth_Height_in_cm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthHospital__c</field>
            <value>
                <elementReference>Institution.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthWeight__c</field>
            <value>
                <elementReference>Birth_Weight_in_grams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Order__c</field>
            <value>
                <elementReference>BirthOrders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birth_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NH_Records</name>
        <label>Update NH Records</label>
        <locationX>626</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.MedicalDiagnosis__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Howlongplantofeedbreastmilktochild__c</field>
            <value>
                <elementReference>Howlongplantofeedbreastmilktochild</elementReference>
            </value>
        </inputAssignments>
        <object>Medical_Diagnosis__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>938</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(244, 48, 22);&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PostN_Survey</name>
        <label>PostN Survey</label>
        <locationX>430</locationX>
        <locationY>131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>PED_Post_N</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;PED-Post-N&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessfullyContacted</name>
            <choiceReferences>CallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallOutcome__c</elementReference>
            </defaultValue>
            <fieldText>使用者  ||  Successfully Contacted ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AffiliateValue1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AffiliateValue2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>放棄原因  ||  Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessfullyContacted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Birth_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Update寶寶生日 (請更正生日日期)  ||  Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Institution</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update 生產醫院 (請參考醫院代碼)  ||  Delivery Hospital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BirthHospital__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.CallRegarding__r.BirthHospital__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Birth_Orders</name>
            <choiceReferences>BirthOrders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Birth Orders</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gender1</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Gender__c</elementReference>
            </defaultValue>
            <fieldText>Update 寶寶是男寶寶還是女寶寶  ||  Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Birth_Height_in_cm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.BirthHeight__c</elementReference>
            </defaultValue>
            <fieldText>Update 出生身高 (CM) ||  Birth Height(in cm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Birth_Weight_in_grams</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.BirthWeight__c</elementReference>
            </defaultValue>
            <fieldText>Update 出生體重 (in grams) || Birth Weight (in grams)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Weight__c</elementReference>
            </defaultValue>
            <fieldText>Update 目前體重 (in grams) || Weight ( In grams)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Height</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseObj.CallRegarding__r.Height__c</elementReference>
            </defaultValue>
            <fieldText>Update 目前身高 (CM) || Height (in cm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Product1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>目前使用品牌(記錄產品群代碼) 現用主品牌 || Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>之前使用品牌.(記錄產品群代碼) 上回主品牌  || Previous Brand </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AffliateValue3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>原品牌轉奶原因 (轉牌原因代碼)  || Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchReason__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BrandSwitchingAgeinMonths</name>
            <choiceReferences>BrandSwitchingAge</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.BrandSwitchingAgeinMonths__c</elementReference>
            </defaultValue>
            <fieldText>轉換月齡  || Brand Switching Age (in Months)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_to_pick_an_Abbott_Brand</name>
            <choiceReferences>ReasonstopickanAbbottBrand</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.RelatedBrandRelationship__r.ReasonstopickanAbbottBrand__c</elementReference>
            </defaultValue>
            <fieldText>選奶原因 (選奶原因代碼)  || Reasons to pick an Abbott Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_do_you_plan_to_feed_breastmilk_to_the_child</name>
            <choiceReferences>Howlongplantofeedbreastmilktochild</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.MedicalDiagnosis__r.Howlongplantofeedbreastmilktochild__c</elementReference>
            </defaultValue>
            <fieldText>母乳哺餵長度 || How long do you plan to feed breastmilk to the child?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reasons_for_No_Purchase</name>
            <choiceReferences>ReasonsforNoPurchase</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseObj.ReasonsforNoPurchase__c</elementReference>
            </defaultValue>
            <fieldText>未購買原因   || Reasons for No Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1236</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Survey completed successfully.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>PostN_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
