force-app/main/default/flows/TH_Call_Script_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>2173</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR7_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Status</name>
        <label>Assign Lead Status</label>
        <locationX>1066</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>br_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr2_Status_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR3_Related_Channel_Response_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Status</name>
        <label>Assign User Status</label>
        <locationX>1070</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>br_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr2_Status_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR3_Related_Channel_Response_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Assignment</name>
        <label>Variable Assignment</label>
        <locationX>474</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>br_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_RelatedBrandRelationship.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>br_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_RelatedBrandRelationship.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>br_PreferredFlavour</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_RelatedBrandRelationship.PreferredFlavour__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_CallOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.CallOutcome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR1_Contact_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pl_CaseStatusCancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusFollowUpCallRequired</name>
        <choiceText>Follow-Up Call Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-Up Call Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusPendingFourthAttempt</name>
        <choiceText>Pending Fourth Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Fourth Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusPendingSecondAttempt</name>
        <choiceText>Pending Second Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Second Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_CaseStatusPendingThirdAttempt</name>
        <choiceText>Pending Third Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Third Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_defaultBrandRelationshipType</name>
        <choiceText>{!f_RelatedBrandRelationshipType}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_RelatedBrandRelationship.Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultBrandReltionshipPreferredFlavour</name>
        <choiceText>{!f_RelatedBrandRelationshipPreferredFlavour}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_RelatedBrandRelationship.PreferredFlavour__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultBrandReltionshipStatus</name>
        <choiceText>{!f_RelatedBrandRelationshipStatus}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_RelatedBrandRelationship.Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultCaseCallOutcome</name>
        <choiceText>{!f_CaseCallOutcome}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_Case.CallOutcome__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_defaultCaseStatus</name>
        <choiceText>{!f_CaseStatus}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>r_Case.Status</elementReference>
        </value>
    </choices>
    <choices>
        <name>pl_StatusContacted</name>
        <choiceText>Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusExisting</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusInvalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusLapsed</name>
        <choiceText>Lapsed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lapsed</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusQualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_StatusUncontacted</name>
        <choiceText>Uncontacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncontacted</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type?</label>
        <locationX>934</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Type_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Status</targetReference>
            </connector>
            <label>Case Type User</label>
        </rules>
        <rules>
            <name>Case_Type_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Status</targetReference>
            </connector>
            <label>Case Type Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correct_Brand_Relationship_Type_and_Status</name>
        <label>Correct Brand Relationship Type and Status?</label>
        <locationX>802</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Existing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_BR_Status_for_User</targetReference>
            </connector>
            <label>Type User</label>
        </rules>
        <rules>
            <name>Type_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr2_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_Lead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Uncontacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_Lead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_Lead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr2_Status_Lead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_BR_Status_for_Lead</targetReference>
            </connector>
            <label>Type Lead</label>
        </rules>
    </decisions>
    <description>Call Script for Thailand Market</description>
    <dynamicChoiceSets>
        <name>pl_BrandRelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_CaseCallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_PreferredFlavour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredFlavour__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_CaseCallOutcome</name>
        <dataType>String</dataType>
        <expression>IF({!case_CallOutcome}== &quot;&quot;, &quot;N/A&quot;, {!case_CallOutcome})</expression>
    </formulas>
    <formulas>
        <name>f_CaseStatus</name>
        <dataType>String</dataType>
        <expression>IF({!case_Status}== &quot;&quot;, &quot;N/A&quot;, {!case_Status})</expression>
    </formulas>
    <formulas>
        <name>f_deliverAddress</name>
        <dataType>String</dataType>
        <expression>{!r_RelatedChannelResponse.DeliveryAddress__r.FullAddress__c}</expression>
    </formulas>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!var_Error} ) &gt; 0, LEFT({!var_Error}, FIND( &quot;You can look&quot;, {!var_Error} ) - 1 ), {!var_Error}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_RelatedBrandRelationshipPreferredFlavour</name>
        <dataType>String</dataType>
        <expression>IF({!br_PreferredFlavour} == &quot;&quot;, &quot;N/A&quot;, {!br_PreferredFlavour})</expression>
    </formulas>
    <formulas>
        <name>f_RelatedBrandRelationshipStatus</name>
        <dataType>String</dataType>
        <expression>IF({!br_Status} == &quot;&quot;, &quot;N/A&quot;, {!br_Status})</expression>
    </formulas>
    <formulas>
        <name>f_RelatedBrandRelationshipType</name>
        <dataType>String</dataType>
        <expression>IF({!br_Type} == &quot;&quot;, &quot;N/A&quot;, {!br_Type})</expression>
    </formulas>
    <interviewLabel>Call Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Retrieve_BR_End_User_Details</name>
        <label>Retrieve BR End User Details</label>
        <locationX>243</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Related_Channel_Response_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_RelatedBrandRelationship.User__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_EndUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>EstimatedDueDate__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Case_Details</name>
        <label>Retrieve Case Details</label>
        <locationX>243</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Contact_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>r_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>PrimaryProductDiscussed__c</queriedFields>
        <queriedFields>SecondaryProductDiscussed__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CallOutcome__c</queriedFields>
        <queriedFields>SuccessfulReason__c</queriedFields>
        <queriedFields>UnsuccessfulReason__c</queriedFields>
        <queriedFields>UncontactableReason__c</queriedFields>
        <queriedFields>InvalidReason__c</queriedFields>
        <queriedFields>FollowUpCallRequired__c</queriedFields>
        <queriedFields>CallBackRequestReason__c</queriedFields>
        <queriedFields>PreferredDateTimeofCallback__c</queriedFields>
        <queriedFields>RelatedBrandRelationship__c</queriedFields>
        <queriedFields>RelatedChannelResponse__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CurrentBrandUsed__c</queriedFields>
        <queriedFields>PreviousBrandUsed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Contact_Details</name>
        <label>Retrieve Contact Details</label>
        <locationX>243</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Related_Brand_Relationship_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Related_Brand_Relationship_Details</name>
        <label>Retrieve Related Brand Relationship Details</label>
        <locationX>243</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_BR_End_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <outputReference>r_RelatedBrandRelationship</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BrandRelationship__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>EndUser__c</queriedFields>
        <queriedFields>CareGiver__c</queriedFields>
        <queriedFields>GiftGiver__c</queriedFields>
        <queriedFields>BrandSwitchReason__c</queriedFields>
        <queriedFields>ProductExperience__c</queriedFields>
        <queriedFields>Drop_Out_Reason__c</queriedFields>
        <queriedFields>CurrentBrand__c</queriedFields>
        <queriedFields>PreviousBrand__c</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Remarks__c</queriedFields>
        <queriedFields>ScoopsPerServing__c</queriedFields>
        <queriedFields>PreferredFlavour__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Related_Channel_Response_Details</name>
        <label>Retrieve Related Channel Response Details</label>
        <locationX>251</locationX>
        <locationY>891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variable_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <object>ChannelResponse__c</object>
        <outputReference>r_RelatedChannelResponse</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>ChannelType__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>OutletType__c</queriedFields>
        <queriedFields>RegistrationDate__c</queriedFields>
        <queriedFields>IsSample_Requested__c</queriedFields>
        <queriedFields>ProductSampleRequested__c</queriedFields>
        <queriedFields>OrderCreationStatus__c</queriedFields>
        <queriedFields>DeliveryAddress__c</queriedFields>
        <queriedFields>PreviousRegistration_SameCampaign__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1910</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>SCR6_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallBackRequestReason__c</field>
            <value>
                <elementReference>scr4_CallBackRequestReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallOutcome__c</field>
            <value>
                <elementReference>scr4_CallOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrandUsed__c</field>
            <value>
                <elementReference>r_Case.CurrentBrandUsed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>scr4_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowUpCallRequired__c</field>
            <value>
                <elementReference>scr4_FollowCallRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvalidReason__c</field>
            <value>
                <elementReference>scr4_InvalidReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredDateTimeofCallback__c</field>
            <value>
                <elementReference>scr4_PreferredDateTimeofCallback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrandUsed__c</field>
            <value>
                <elementReference>r_Case.PreviousBrandUsed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryProductDiscussed__c</field>
            <value>
                <elementReference>scr4_PrimaryProductDiscussedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondaryProductDiscussed__c</field>
            <value>
                <elementReference>scr4_SecondaryProductDiscussedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>scr4_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuccessfulReason__c</field>
            <value>
                <elementReference>scr4_SuccessfulReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UncontactableReason__c</field>
            <value>
                <elementReference>scr4_UncontactableReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnsuccessfulReason__c</field>
            <value>
                <elementReference>scr4_UnsuccessfulReasonId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1903</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Update_Related_Brand_Relationship_End_User_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>scr1_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>scr1_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>scr1_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>scr1_MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>scr1_MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Brand_Relationship_End_User_Record</name>
        <label>Update Related Brand Relationship End User Record</label>
        <locationX>1903</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>Update_Related_Brand_Relationship_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_RelatedBrandRelationship.User__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>scr1_EndUserBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedDueDate__c</field>
            <value>
                <elementReference>scr1_EstimatedDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>scr1_EndUserFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>scr1_EndUserLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>scr1_EndUserMiddleName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Brand_Relationship_Record</name>
        <label>Update Related Brand Relationship Record</label>
        <locationX>1903</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandSwitchReason__c</field>
            <value>
                <elementReference>scr2_BrandSwitchReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareGiver__c</field>
            <value>
                <elementReference>scr2_CareGiver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentBrand__c</field>
            <value>
                <elementReference>scr2_CurrentBrandId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drop_Out_Reason__c</field>
            <value>
                <elementReference>scr2_DropOutReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <elementReference>scr2_EndUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GiftGiver__c</field>
            <value>
                <elementReference>scr2_GiftGiver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferredFlavour__c</field>
            <value>
                <elementReference>scr2_PreferredFlavour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousBrand__c</field>
            <value>
                <elementReference>scr2_PreviousBrandId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductExperience__c</field>
            <value>
                <elementReference>scr2_ProductExperience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>scr2_Remarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>scr2_SKUId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScoopsPerServing__c</field>
            <value>
                <elementReference>scr2_ScoopsPerServing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>br_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>scr2_Type</elementReference>
            </value>
        </inputAssignments>
        <object>BrandRelationship__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Invalid_BR_Status_for_Lead</name>
        <label>Error Invalid BR Status for Lead</label>
        <locationX>947</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Invalid_Lead_BR_Status</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Brand Relationship Status should be Uncontacted, Contacted, Qualified or Invalid.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Invalid_BR_Status_for_User</name>
        <label>Error Invalid BR Status for User</label>
        <locationX>656</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Invalid_User_BR_Status</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Brand Relationship Status should be New, Existing or Lapsed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR1_Contact_Screen</name>
        <label>SCR1 Contact Screen</label>
        <locationX>474</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR2_Related_Brand_Relationship_Screen</targetReference>
        </connector>
        <fields>
            <name>scr1_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;สวัสดิค่ะ ดิฉัน ...(ชื่อ).... ติดต่อมาจาก Abbott Care ผลิตภัณฑ์ &amp;lt;แบรนด์&amp;gt; จะขอรบกวนเวลาคุณ ........ สัก 3 นาที เพื่อสอบถามข้อมูลการใช้ผลิตภัณฑ์และให้ข้อมูลด้านสุขภาพ ไม่ทราบว่าพอสะดวกคุยสักครู่ไหมค่ะ&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;ไม่ทราบว่าคุณ........ เป็นผู้ใช้ผลิตภัณฑ์เองหรือไม่ค่ะ --&amp;gt; หากไม่ใช่ รบกวนขอสอบถามชื่อผู้ใช้ผลิตภัณฑ์ด้วยค่ะ (ชื่อ นามสกุล อายุ)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr1_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Contact.FirstName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_MiddleName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Contact.MiddleName</elementReference>
            </defaultValue>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Contact.LastName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr1_MobilePhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Contact.Phone</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Contact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_BlankSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr1_EndUserFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_EndUser.FirstName</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_EndUserMiddleName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_EndUser.MiddleName</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_EndUserLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_EndUser.LastName</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr1_EndUserBirthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Birthdate</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr1_EstimatedDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.EstimatedDueDate__c</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s Estimated Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR2_Related_Brand_Relationship_Screen</name>
        <label>SCR2 Related Brand Relationship Screen</label>
        <locationX>649</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Correct_Brand_Relationship_Type_and_Status</targetReference>
        </connector>
        <fields>
            <name>scr2_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;ก่อนลงทะเบียนรับผลิตภัณฑ์ &amp;lt;แบรนด์&amp;gt; คุณ.....ใช้ผลิตภัณฑ์อาหารเสริมใดอยู่หรือไม่ค่ะ&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;เพราะเหตุใดจึงต้องการทดลองผลิตภัณฑ์ &amp;lt;แบรนด์&amp;gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;หากเป็นผู้ใช้ผลิตภัณฑ์อยู่แล้ว...ไม่ทราบว่าปัจจุบันนี้ชงผลิตภัณฑ์ทานอย่างไรคะ&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr2_BrandRelationship</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Brand Relationship: &lt;/b&gt;{!r_RelatedBrandRelationship.BrandRelationship__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr2_Type</name>
            <choiceReferences>pl_defaultBrandRelationshipType</choiceReferences>
            <choiceReferences>pl_BrandRelationshipType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBrandRelationshipType</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr2_Status_User</name>
            <choiceReferences>pl_defaultBrandReltionshipStatus</choiceReferences>
            <choiceReferences>pl_StatusNew</choiceReferences>
            <choiceReferences>pl_StatusExisting</choiceReferences>
            <choiceReferences>pl_StatusLapsed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBrandReltionshipStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr2_Status_Lead</name>
            <choiceReferences>pl_defaultBrandReltionshipStatus</choiceReferences>
            <choiceReferences>pl_StatusUncontacted</choiceReferences>
            <choiceReferences>pl_StatusContacted</choiceReferences>
            <choiceReferences>pl_StatusQualified</choiceReferences>
            <choiceReferences>pl_StatusInvalid</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBrandReltionshipStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr2_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lead</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr2_EndUser</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.EndUser__c</elementReference>
            </defaultValue>
            <fieldText>End User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr2_CareGiver</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.CareGiver__c</elementReference>
            </defaultValue>
            <fieldText>Care Giver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr2_GiftGiver</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.GiftGiver__c</elementReference>
            </defaultValue>
            <fieldText>Gift Giver</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr2_BrandSwitchReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBrandRelationship.BrandSwitchReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr2_BrandSwitchReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr2_BrandSwitchReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr2_ProductExperience</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.ProductExperience__c</elementReference>
            </defaultValue>
            <fieldText>Product Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_DropOutReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Drop_Out_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Out Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBrandRelationship.Drop_Out_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr2_DropOutReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr2_DropOutReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr2_SKU</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SKU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SKU (usual SKU bought)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBrandRelationship.SKU__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr2_SKUId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr2_SKUName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr2_Remarks</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.Remarks__c</elementReference>
            </defaultValue>
            <fieldText>Remaks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr2_ScoopsPerServing</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>r_RelatedBrandRelationship.ScoopsPerServing__c</elementReference>
            </defaultValue>
            <fieldText>Scoops Per Serving</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>scr2_PreferredFlavour</name>
            <choiceReferences>pl_defaultBrandReltionshipPreferredFlavour</choiceReferences>
            <choiceReferences>pl_PreferredFlavour</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultBrandReltionshipPreferredFlavour</defaultSelectedChoiceReference>
            <fieldText>Preferred Flavour</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR3_Related_Channel_Response_Screen</name>
        <label>SCR3 Related Channel Response Screen</label>
        <locationX>1274</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR4_Case_Screen</targetReference>
        </connector>
        <fields>
            <name>scr3_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;ไม่ทราบว่าตอนนี้ได้รับผลิตภัณฑ์ทดลองหรือยังคะ&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Channel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Channel: &lt;/b&gt;{!r_RelatedChannelResponse.Channel__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_ChannelType</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Channel Type: &lt;/b&gt;{!r_RelatedChannelResponse.ChannelType__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_Category</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Category: &lt;/b&gt;{!r_RelatedChannelResponse.Category__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_OutletType</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Outlet Type: &lt;/b&gt;{!r_RelatedChannelResponse.OutletType__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_RegistrationDate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Registration Date: &lt;/b&gt;{!r_RelatedChannelResponse.RegistrationDate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_SampleRequested</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sample Requested: &lt;/b&gt;{!r_RelatedChannelResponse.IsSample_Requested__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_ProductSampleRequested</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Product Sample Requested: &lt;/b&gt;{!r_RelatedChannelResponse.ProductSampleRequested__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_OrderCreationStatus</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order Creation Status: &lt;/b&gt;{!r_RelatedChannelResponse.OrderCreationStatus__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_DeliveryAddress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Delivery Address: &lt;/b&gt;{!f_deliverAddress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr3_SameCampaign</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Previous Registration - Same Campaign: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!r_RelatedChannelResponse.PreviousRegistration_SameCampaign__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR4_Case_Screen</name>
        <label>SCR4 Case Screen</label>
        <locationX>1454</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCR5_Review_Case_Details</targetReference>
        </connector>
        <fields>
            <name>scr4_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;เมื่อทดลองแล้ว คุณชอบทาน/ ทานได้หรือไม่&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;แล้วคุณเปลี่ยนมาซื้อเอนชัวร์ทานหรือยัง หรือยัง&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;ไม่ทราบว่าคุณมีข้อสงสัยเกี่ยวกับการใช้ผลิตภัณฑ์หรือไม่คะ&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr4_CallCampaign</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call Campaign: &lt;/b&gt;{!r_Case.Campaign__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr4_Subject</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Subject: &lt;/b&gt;{!r_Case.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr4_PrimaryProductDiscussed</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PrimaryProductDiscussed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Product Discussed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.PrimaryProductDiscussed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_PrimaryProductDiscussedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_PrimaryProductDiscussedName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr4_SecondaryProductDiscussed</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SecondaryProductDiscussed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Product Discussed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SecondaryProductDiscussed__r.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_SecondaryProductDiscussedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_SecondaryProductDiscussedName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr4_CurrentBrandUsed</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrandUsed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Brand Used</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.CurrentBrandUsed__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.CurrentBrandUsed__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr4_PreviousBrandUsed</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Previous Brand Used</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.PreviousBrandUsed__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrandUsed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.PreviousBrandUsed__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr4_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>r_Case.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr4_Status</name>
            <choiceReferences>pl_defaultCaseStatus</choiceReferences>
            <choiceReferences>pl_CaseStatusNew</choiceReferences>
            <choiceReferences>pl_CaseStatusPendingSecondAttempt</choiceReferences>
            <choiceReferences>pl_CaseStatusPendingThirdAttempt</choiceReferences>
            <choiceReferences>pl_CaseStatusPendingFourthAttempt</choiceReferences>
            <choiceReferences>pl_CaseStatusFollowUpCallRequired</choiceReferences>
            <choiceReferences>pl_CaseStatusCompleted</choiceReferences>
            <choiceReferences>pl_CaseStatusCancelled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr4_CallOutcome</name>
            <choiceReferences>pl_defaultCaseCallOutcome</choiceReferences>
            <choiceReferences>pl_CaseCallOutcome</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>pl_defaultCaseCallOutcome</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr4_SuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_SuccessfulReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_SuccessfulReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr4_UnsuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_UnsuccessfulReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_UnsuccessfulReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr4_UncontactableReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uncontactable Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UncontactableReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UncontactableReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_UncontactableReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_UncontactableReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Uncontactable</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr4_InvalidReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>InvalidReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.InvalidReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_InvalidReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_InvalidReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr4_FollowCallRequired</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>r_Case.FollowUpCallRequired__c</elementReference>
            </defaultValue>
            <fieldText>Follow-Up Call Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr4_CallbackRequuestReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Call Back Request Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CallBackRequestReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.CallBackRequestReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>scr4_CallBackRequestReasonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>scr4_CallbackRequestReasonName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scr4_PreferredDateTimeofCallback</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>r_Case.PreferredDateTimeofCallback__c</elementReference>
            </defaultValue>
            <fieldText>Preferred Date &amp; Time of Callback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR5_Review_Case_Details</name>
        <label>SCR5 Review Case Details</label>
        <locationX>1618</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>scr5_ReviewDetailsContent</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Review Case Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_CallCampaign</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call Campaign: &lt;/b&gt;{!r_Case.Campaign__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_Subject</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Subject: &lt;/b&gt;{!r_Case.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_PrimaryProductDiscussed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Primary Product Discussed: &lt;/b&gt;{!scr4_PrimaryProductDiscussedName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_SecondaryProductDiscussed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Secondary Product Discussed: &lt;/b&gt;{!scr4_SecondaryProductDiscussedName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_CurrentBrandUsed</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Current Brand Used: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!r_Case.CurrentBrandUsed__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_PreviousBrandUsed</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Previous Brand Used: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!r_Case.PreviousBrandUsed__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_Description</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Description: &lt;/b&gt;{!scr4_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_Status</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status: &lt;/b&gt;{!scr4_Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_CallOutcome</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call Outcome: &lt;/b&gt;{!scr4_CallOutcome}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_SuccessfulReason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Successful Reason: &lt;/b&gt;{!scr4_SuccessfulReasonName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr5_UnsuccessfulReason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Unsuccessful Reason: &lt;/b&gt;{!scr4_UnsuccessfulReasonName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unsuccessful</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr5_UncontactableReason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Uncontactable Reason: &lt;/b&gt;{!scr4_UncontactableReasonName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Uncontactable</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr5_InvalidReason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Invalid Reason: &lt;/b&gt;{!scr4_InvalidReasonName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scr4_CallOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr5_FollowCallRequired</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Follow-Up Call Required: &lt;/b&gt;{!scr4_FollowCallRequired}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_CallbackRequuestReason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Callback Request Reason: &lt;/b&gt;{!scr4_CallbackRequestReasonName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr5_PreferredDateTimeofCallback</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Preferred Date &amp;amp; Time of Callback: &lt;/b&gt;{!scr4_PreferredDateTimeofCallback}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR6_Success</name>
        <label>SCR6 Success</label>
        <locationX>2413</locationX>
        <locationY>728</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr6_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Records are updated successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR7_Error</name>
        <label>SCR7 Error</label>
        <locationX>2423</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr7_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(244, 48, 22);&quot;&gt;{!f_ErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Retrieve_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>br_PreferredFlavour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>br_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_CallOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>r_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>r_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_EndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_RelatedBrandRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedChannelResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelResponse__c</objectType>
    </variables>
    <variables>
        <name>scr2_BrandSwitchReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_BrandSwitchReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_CurrentBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_CurrentBrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_DropOutReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_DropOutReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_PrevioudBrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_PreviousBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_SKUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr2_SKUName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_CallBackRequestReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_CallbackRequestReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_InvalidReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_InvalidReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_PrimaryProductDiscussedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_PrimaryProductDiscussedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_SecondaryProductDiscussedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_SecondaryProductDiscussedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_SuccessfulReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_SuccessfulReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_UncontactableReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_UncontactableReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_UnsuccessfulReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scr4_UnsuccessfulReasonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
