force-app/main/default/flows/Update_BR_Batch_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Product</name>
        <label>Check Product</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Blank_Preferred_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ensure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure_Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Ensure</targetReference>
            </connector>
            <label>Ensure</label>
        </rules>
        <rules>
            <name>Glucerna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna SR_Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Glucerna</targetReference>
            </connector>
            <label>Glucerna</label>
        </rules>
        <rules>
            <name>Nepro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro HP_Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Nepro</targetReference>
            </connector>
            <label>Nepro</label>
        </rules>
        <rules>
            <name>Prosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure_Current</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Prosure</targetReference>
            </connector>
            <label>Prosure</label>
        </rules>
        <rules>
            <name>Current_Blank_Preferred_Ensure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ensure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Blank_Preferred_Ensure</targetReference>
            </connector>
            <label>Current Blank Preferred Ensure</label>
        </rules>
        <rules>
            <name>Current_Blank_Preferred_Glucerna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Glucerna SR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Blank_Preferred_Glucerna</targetReference>
            </connector>
            <label>Current Blank Preferred Glucerna</label>
        </rules>
        <rules>
            <name>Current_Blank_Preferred_Nepro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepro HP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Blank_Preferred_Nepro</targetReference>
            </connector>
            <label>Current Blank Preferred Nepro</label>
        </rules>
        <rules>
            <name>Current_Blank_Preferred_Prosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Blank_Preferred_Prosure</targetReference>
            </connector>
            <label>Current Blank Preferred Prosure</label>
        </rules>
        <rules>
            <name>Out_Off_all_Desicion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Used_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No_Current</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Out_of_all_Desicion</targetReference>
            </connector>
            <label>Out Off all Desicion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update BR Batch Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BR Batch Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Blank_Preferred_Blank</name>
        <label>Get Current Blank Preferred Blank</label>
        <locationX>2426</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Blank_Preferred_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_ENS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Blank_Preferred_Ensure</name>
        <label>Get Current Blank Preferred Ensure</label>
        <locationX>1106</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Blank_Preferred_Ensure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_ENS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Blank_Preferred_Glucerna</name>
        <label>Get Current Blank Preferred Glucerna</label>
        <locationX>1370</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Blank_Preferred_Glucerna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_GLU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Blank_Preferred_Nepro</name>
        <label>Get Current Blank Preferred Nepro</label>
        <locationX>1634</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Blank_Preferred_Nepro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_BR_Nepro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Blank_Preferred_Prosure</name>
        <label>Get Current Blank Preferred Prosure</label>
        <locationX>1898</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Blank_Preferred_Prosure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_BR_Prosure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Out_of_all_Desicion</name>
        <label>Get Out of all Desicion</label>
        <locationX>2162</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Out_of_all_Desicion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_ENS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Ensure</name>
        <label>Get Product Ensure</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_BR_stamp_Ensure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_ENS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Glucerna</name>
        <label>Get Product Glucerna</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_BR_stamp_Glucerna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_KB_GLU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Nepro</name>
        <label>Get Product  Nepro</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_BR_stamp_Nepro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_BR_Nepro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Prosure</name>
        <label>Get Product Prosure</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_BR_stamp_Prosure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TH_BR_Prosure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BR_stamp_Ensure</name>
        <label>Update BR stamp Ensure</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Product_Ensure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BR_stamp_Glucerna</name>
        <label>Update BR stamp Glucerna</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Product_Prosure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BR_stamp_Nepro</name>
        <label>Update BR stamp Nepro</label>
        <locationX>578</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Product_Nepro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BR_stamp_Prosure</name>
        <label>Update BR stamp Prosure</label>
        <locationX>842</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Product_Prosure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Blank_Preferred_Blank</name>
        <label>Update Current Blank Preferred Blank</label>
        <locationX>2426</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Current_Blank_Preferred_Blank.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Blank_Preferred_Ensure</name>
        <label>Update Current Blank Preferred Ensure</label>
        <locationX>1106</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Current_Blank_Preferred_Ensure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Blank_Preferred_Glucerna</name>
        <label>Update Current Blank Preferred Glucerna</label>
        <locationX>1370</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Current_Blank_Preferred_Glucerna.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Blank_Preferred_Nepro</name>
        <label>Update Current Blank Preferred Nepro</label>
        <locationX>1634</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Current_Blank_Preferred_Nepro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Blank_Preferred_Prosure</name>
        <label>Update Current Blank Preferred Prosure</label>
        <locationX>1898</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Current_Blank_Preferred_Prosure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Out_of_all_Desicion</name>
        <label>Update Out of all Desicion</label>
        <locationX>2162</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>BrandRelationship__c</field>
            <value>
                <elementReference>Get_Out_of_all_Desicion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Product</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>BrandRelationship__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Used_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Preferred_Formula__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
