force-app/main/default/flows/VN_Call_Script_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_BrandRelationship_New</name>
        <label>Populate New Brand Relationship</label>
        <locationX>1073</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedBR_New_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_RelatedBR_New_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedBR_New.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EndUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_IN_BrandRelationship_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Case</name>
        <label>Case</label>
        <locationX>2066</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>r_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.CallOutcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_CallOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_UP_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EndUser</name>
        <label>Assign End User</label>
        <locationX>1159</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>var_EndUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_SecondaryContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Brand_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Error_Message</name>
        <label>Error Message</label>
        <locationX>725</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_New_Channel_Response</name>
        <label>New Channel Response</label>
        <locationX>1468</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>r_RelatedCR_New.BrandRelationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR_New.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EndUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_RelatedCR_New.RegistrationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedCR_New_RegistrationDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_IN_RelatedCR_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Nutrition_History_Details</name>
        <label>Nutrition History Details</label>
        <locationX>1874</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.EndUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EndUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.Medical_Diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NutritionHistory_MedicalDiagnosis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.Current_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NutritionHistory_CurrentTreatment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_NutritionHistory.Additional_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NutritionHistory_AdditionalNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_IN_NutritionHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SecondaryContact</name>
        <label>Populate Secondary Contact</label>
        <locationX>730</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>r_SecondaryContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_SecondaryContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContact_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_SecondaryContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContact_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_SecondaryContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryContact_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_SecondaryContact.Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_IN_SecondaryContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Set_New_BR</name>
        <label>Set New BR</label>
        <locationX>1225</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>var_BR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_RelatedBR_New.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_Case.ConvertedBR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>r_RelatedBR_New.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Channel_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populate_End_User</name>
        <label>End User</label>
        <locationX>2435</locationX>
        <locationY>1342</locationY>
        <assignmentItems>
            <assignToReference>r_EndUser.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EndUser.EstimatedDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_EstimatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EndUser.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_Height_cm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>r_EndUser.Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUser_Weight_kg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_UP_EndUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Blank</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>c_BR_Status_Contacted</name>
        <choiceText>Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Invalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Lapsed</name>
        <choiceText>Lapsed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lapsed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Qualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Status_Uncontacted</name>
        <choiceText>Uncontacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncontacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Type_Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_BR_Type_User</name>
        <choiceText>User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_CallOutcome_default</name>
        <choiceText>{!f_Case_DefaultCallOutcome}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>f_Case_DefaultCallOutcome</elementReference>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_default</name>
        <choiceText>﻿{!f_Case_Status_default}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>﻿{!f_Case_Status_default}</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_FollowUpCallRequired</name>
        <choiceText>Follow-Up Call Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-Up Call Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_Pending2ndAttempt</name>
        <choiceText>Pending Second Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Second Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_PendingFourthAttempt</name>
        <choiceText>Pending Fourth Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Fourth Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Case_Status_PendingThirdAttempt</name>
        <choiceText>Pending Third Attempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Third Attempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_MainUser</name>
        <choiceText>Main User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Main User</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_SecondaryUser</name>
        <choiceText>Secondary User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary User</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Converted_BR</name>
        <label>Valid Converted BR</label>
        <locationX>561</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Create_Secondary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Converted_BR_No</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Case_CallOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_CallOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Brand_Relationship</name>
        <label>Create Brand Relationship</label>
        <locationX>1065</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Create_New_Channel_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_Brand_Relationship_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BrandRelationship_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Channel_Response</name>
        <label>Create New Channel Response</label>
        <locationX>1456</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>Create_Nutrition_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_New_Channel_Response_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateNewCR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_New_Channel_Response</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Nutrition_History</name>
        <label>Create Nutrition History</label>
        <locationX>1863</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>assign_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_Nutrition_History_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateNutritionHistory.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Nutrition_History_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Secondary_Contact</name>
        <label>Create Secondary Contact</label>
        <locationX>731</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Brand_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_Secondary_Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SecondaryContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateBrandRelationship_User</name>
        <label>User?</label>
        <locationX>924</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Create_Brand_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Main</defaultConnectorLabel>
        <rules>
            <name>CreateBrandRelationship_User_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RelatedBR_New_EndUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_SecondaryUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EndUser</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Same_Contact</name>
        <label>Same Contact</label>
        <locationX>2199</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>DML_UP_Update_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Same_Contact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>r_EndUser.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populate_End_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_WhatBR</name>
        <label>What BR?</label>
        <locationX>1223</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Create_New_Channel_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old</defaultConnectorLabel>
        <rules>
            <name>dec_WhatBR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Set_New_BR</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>Call Script for Vietnam</description>
    <dynamicChoiceSets>
        <name>c_BR_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_BR_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>BrandRelationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Case_CallOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallOutcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_Case_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_ContactRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>r_SecondaryContact.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_NutritionHistory_CurrentTreatment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Treatment__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>c_NutritionHistory_MedicalDiagnosis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Medical_Diagnosis__c</picklistField>
        <picklistObject>Medical_Diagnosis__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_Case_DefaultCallOutcome</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_Case.CallOutcome__c}) = &quot;&quot;, &quot; &quot;, TEXT({!r_Case.CallOutcome__c}))</expression>
    </formulas>
    <formulas>
        <name>f_Case_Status_default</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!r_Case.Status}) = &quot;&quot;, &quot; &quot;, TEXT({!r_Case.Status}))</expression>
    </formulas>
    <formulas>
        <name>f_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
    SUBSTITUTE(
        SUBSTITUTE(IF( FIND( &quot;You can look&quot;, {!var_Error} ) &gt; 0, LEFT({!var_Error}, FIND( &quot;You can look&quot;, {!var_Error} ) - 1 ), {!var_Error}),
            &quot;This error occurred when the flow tried to create records:&quot;,&quot;&quot;),
            &quot;This error occurred when the flow tried to update records:&quot;,&quot;&quot;),
            &quot;The flow tried to update these records: null. This error occurred: &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_RelatedBR_New_Status</name>
        <dataType>String</dataType>
        <expression>IF({!RelatedBR_New_Type} = &quot;User&quot;, {!RelatedBR_New_Status_User},{!RelatedBR_New_Status_Lead})</expression>
    </formulas>
    <formulas>
        <name>f_toggle_HasDefaultAddress</name>
        <dataType>Boolean</dataType>
        <expression>{!r_Address.Id} != null</expression>
    </formulas>
    <formulas>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Flow.FaultMessage},&quot; You can look up ExceptionCode values in the SOAP API Developer Guide.&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Call Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>DML_IN_BrandRelationship_New</name>
        <label>Create New Brand Relationship</label>
        <locationX>1072</locationX>
        <locationY>987</locationY>
        <connector>
            <targetReference>dec_WhatBR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_RelatedBR_New</inputReference>
    </recordCreates>
    <recordCreates>
        <name>DML_IN_NutritionHistory</name>
        <label>Create New Nutrition History</label>
        <locationX>2005</locationX>
        <locationY>1542</locationY>
        <connector>
            <targetReference>assign_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_NutritionHistory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>DML_IN_RelatedCR_New</name>
        <label>Create New Channel Response</label>
        <locationX>1471</locationX>
        <locationY>1220</locationY>
        <connector>
            <targetReference>Create_Nutrition_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_RelatedCR_New</inputReference>
    </recordCreates>
    <recordCreates>
        <name>DML_IN_SecondaryContact</name>
        <label>Create Secondary Contact</label>
        <locationX>861</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>CreateBrandRelationship_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_SecondaryContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Q_CallCampaign</name>
        <label>Call Campaign</label>
        <locationX>383</locationX>
        <locationY>784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.Campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Campaign_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Q_Case</name>
        <label>Case</label>
        <locationX>237</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Related_Channel_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>r_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CallRegarding__c</queriedFields>
        <queriedFields>RelatedBrandRelationship__c</queriedFields>
        <queriedFields>RelatedChannelResponse__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>PrimaryProductDiscussed__c</queriedFields>
        <queriedFields>SecondaryProductDiscussed__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CallOutcome__c</queriedFields>
        <queriedFields>SuccessfulReason__c</queriedFields>
        <queriedFields>UnsuccessfulReason__c</queriedFields>
        <queriedFields>UncontactableReason__c</queriedFields>
        <queriedFields>InvalidReason__c</queriedFields>
        <queriedFields>FollowUpCallRequired__c</queriedFields>
        <queriedFields>CallBackRequestReason__c</queriedFields>
        <queriedFields>PreferredDateTimeofCallback__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Contact</name>
        <label>Contact</label>
        <locationX>379</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Default_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Default_Address</name>
        <label>Default Address</label>
        <locationX>377</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DefaultAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>r_Address</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street1__c</queriedFields>
        <queriedFields>Street2__c</queriedFields>
        <queriedFields>City2__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>Ward2__c</queriedFields>
        <queriedFields>District__c</queriedFields>
        <queriedFields>SubDistrict__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_End_User</name>
        <label>End User</label>
        <locationX>242</locationX>
        <locationY>786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_CallCampaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_RelatedBR.User__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>r_EndUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EstimatedDueDate__c</queriedFields>
        <queriedFields>Height__c</queriedFields>
        <queriedFields>Weight__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Related_Brand_Relationship</name>
        <label>Related Brand Relationship</label>
        <locationX>233</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_End_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
            </value>
        </filters>
        <object>BrandRelationship__c</object>
        <outputReference>r_RelatedBR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BrandSwitchReason__c</queriedFields>
        <queriedFields>Drop_Out_Reason__c</queriedFields>
        <queriedFields>CurrentBrand__c</queriedFields>
        <queriedFields>PreviousBrand__c</queriedFields>
        <queriedFields>BrandRelationship__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q_Related_Channel_Response</name>
        <label>Related Channel Response</label>
        <locationX>240</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q_Related_Brand_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r_Case.RelatedChannelResponse__c</elementReference>
            </value>
        </filters>
        <object>ChannelResponse__c</object>
        <outputReference>r_RelatedCR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DML_UP_Case</name>
        <label>Update Case</label>
        <locationX>2207</locationX>
        <locationY>1205</locationY>
        <connector>
            <targetReference>dec_Same_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_EndUser</name>
        <label>End User</label>
        <locationX>2455</locationX>
        <locationY>1546</locationY>
        <connector>
            <targetReference>DML_UP_RelatedBR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_EndUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_RelatedBR</name>
        <label>RelatedBR</label>
        <locationX>2294</locationX>
        <locationY>1698</locationY>
        <connector>
            <targetReference>scr3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_RelatedBR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>DML_UP_Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>2208</locationX>
        <locationY>1493</locationY>
        <connector>
            <targetReference>DML_UP_EndUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Error_Message</targetReference>
        </faultConnector>
        <inputReference>r_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>ASDF</name>
        <label>Call Script</label>
        <locationX>558</locationX>
        <locationY>1499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AFSD</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(244, 2, 2);&quot;&gt;{!f_ErrorMessage}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(240, 3, 3);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr1</name>
        <label>Call Script</label>
        <locationX>379</locationX>
        <locationY>336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Converted_BR</targetReference>
        </connector>
        <fields>
            <name>Contact_dt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112);&quot;&gt;Name: {!r_Contact.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112);&quot;&gt;Mobile: {!r_Contact.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Contact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;End User Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112);&quot;&gt;Name: {!r_EndUser.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_EndUser.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_EndUser.Email</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>r_Contact.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>r_EndUser.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUser_Birthdate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndUser_EstimatedDueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>r_EndUser.EstimatedDueDate__c</elementReference>
            </defaultValue>
            <fieldText>End User&apos;s Estimated Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndUser_Height_cm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Height__c</elementReference>
            </defaultValue>
            <fieldText>Height (cm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>EndUser_Weight_kg</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>r_EndUser.Weight__c</elementReference>
            </defaultValue>
            <fieldText>Weight (kg)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>scr1_secondaryContact_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Secondary Contact Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle_CreateSecondaryContact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Secondary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondaryContact_RecordType</name>
            <choiceReferences>c_ContactRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondaryContact_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondaryContact_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondaryContact_Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_dt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Related Brand Relationship Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(107, 109, 112);&quot;&gt;Brand Relationship : {!r_RelatedBR.BrandRelationship__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedBR_BrandSwitchReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.BrandSwitchReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.BrandSwitchReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_DropOutReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Drop_Out_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.Drop_Out_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Out Reason</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.Drop_Out_Reason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_CurrentBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.CurrentBrand__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.CurrentBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_PreviousBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Previous Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_RelatedBR.PreviousBrand__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR.PreviousBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RelatedBR_dt2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Type: {!r_RelatedBR.Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Status : {!r_RelatedBR.Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedBR_New_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Brand Relationship Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle_CreateNewBR</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Brand Relationship</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RelatedBR_New_EndUser</name>
            <choiceReferences>c_MainUser</choiceReferences>
            <choiceReferences>c_SecondaryUser</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_SecondaryUser</defaultSelectedChoiceReference>
            <fieldText>End User</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>toggle_CreateSecondaryContact.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_BrandRelationship</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Brand Relationship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR_New.BrandRelationship__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_BrandSwitchReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Brand Switch Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandSwitchReason__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR_New.BrandSwitchReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_DropOutReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Drop Out Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Drop_Out_Reason__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR_New.Drop_Out_Reason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_CurrentBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CurrentBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR_New.CurrentBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_PreviousBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BrandRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PreviousBrand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Previous Brand</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedBR_New.PreviousBrand__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_Type</name>
            <choiceReferences>c_BR_Type_User</choiceReferences>
            <choiceReferences>c_BR_Type_Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Type_User</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_Status_Lead</name>
            <choiceReferences>c_BR_Status_Uncontacted</choiceReferences>
            <choiceReferences>c_BR_Status_Contacted</choiceReferences>
            <choiceReferences>c_BR_Status_Qualified</choiceReferences>
            <choiceReferences>c_BR_Status_Invalid</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_Contacted</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RelatedBR_New_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lead</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedBR_New_Status_User</name>
            <choiceReferences>c_BR_Status_New</choiceReferences>
            <choiceReferences>c_BR_Status_Existing</choiceReferences>
            <choiceReferences>c_BR_Status_Lapsed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_BR_Status_New</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RelatedBR_New_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>User</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewCR_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Channel Response Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toggle_CreateNewCR</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Channel Response</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewBR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedCR_New_Channel</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Channel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ChannelResponse__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_RelatedCR_New.Channel__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewCR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedCR_New_RegistrationDate</name>
            <dataType>Date</dataType>
            <fieldText>Registration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNewCR.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NutritionHistory_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Nutrition History Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle_CreateNutritionHistory</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Nutrition History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NutritionHistory_dt2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112);&quot;&gt;Name: {!r_Contact.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NutritionHistory_MedicalDiagnosis</name>
            <choiceReferences>c_Blank</choiceReferences>
            <choiceReferences>c_NutritionHistory_MedicalDiagnosis</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Blank</defaultSelectedChoiceReference>
            <fieldText>Medical Diagnosis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNutritionHistory.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NutritionHistory_CurrentTreatment</name>
            <choiceReferences>c_Blank</choiceReferences>
            <choiceReferences>c_NutritionHistory_CurrentTreatment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Blank</defaultSelectedChoiceReference>
            <fieldText>Current Treatment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNutritionHistory.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NutritionHistory_AdditionalNotes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle_CreateNutritionHistory.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_dt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(107, 109, 112); font-size: 16px;&quot;&gt;Case Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Call Campaign: {!Campaign_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Subject: &lt;/span&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!r_Case.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_PrimaryProductDisccused</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PrimaryProductDiscussed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Product Discussed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.PrimaryProductDiscussed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.PrimaryProductDiscussed__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_SecondaryProductDiscussed</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SecondaryProductDiscussed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Secondary Product Discussed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SecondaryProductDiscussed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.SecondaryProductDiscussed__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_Description</name>
            <defaultValue>
                <stringValue>{!r_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Status</name>
            <choiceReferences>c_Case_Status_default</choiceReferences>
            <choiceReferences>c_Case_Status_New</choiceReferences>
            <choiceReferences>c_Case_Status_Pending2ndAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingThirdAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_PendingFourthAttempt</choiceReferences>
            <choiceReferences>c_Case_Status_FollowUpCallRequired</choiceReferences>
            <choiceReferences>c_Case_Status_Completed</choiceReferences>
            <choiceReferences>c_Case_Status_Cancelled</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Case_Status_default</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_CallOutcome</name>
            <choiceReferences>c_Case_CallOutcome</choiceReferences>
            <choiceReferences>c_Case_CallOutcome_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>c_Case_CallOutcome_default</defaultSelectedChoiceReference>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_SuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.SuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.SuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UnsuccessfulReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UnsuccessfulReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unsuccessful Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UnsuccessfulReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UnsuccessfulReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_UncontactableReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UncontactableReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uncontactable Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.UncontactableReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.UncontactableReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_InvalidReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>InvalidReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.InvalidReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.InvalidReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_FollowUpCallRequired</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Follow-Up Call Required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>r_Case.FollowUpCallRequired__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.FollowUpCallRequired__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_CallBackRequestReason</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CallBackRequestReason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Call Back Request Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>r_Case.CallBackRequestReason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>r_Case.CallBackRequestReason__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_PreferredDateTimeCallBack</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>r_Case.PreferredDateTimeofCallback__c</elementReference>
            </defaultValue>
            <fieldText>Preferred Date &amp; Time Call Back</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddressDetails_dt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(107, 109, 112);&quot;&gt;Address Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Street 1: {!r_Address.Street1__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Street 2: {!r_Address.Street2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Region: {!r_Address.Region__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;City: {!r_Address.City2__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;District: {!r_Address.District__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Sub-District: {!r_Address.SubDistrict__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(107, 109, 112); font-size: 12px;&quot;&gt;Ward: {!r_Address.Ward2__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>f_toggle_HasDefaultAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr2</name>
        <label>Call Script</label>
        <locationX>571</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr2_dt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Converted Brand Relationship must be created before you can proceed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr3</name>
        <label>Call Script</label>
        <locationX>2457</locationX>
        <locationY>1811</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr2_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 137, 7);&quot;&gt;SUCCESS!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Records successfully updated.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>72</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Q_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>r_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>r_CallRegarding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>r_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_EndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>r_NutritionHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medical_Diagnosis__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedBR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedBR_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandRelationship__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelResponse__c</objectType>
    </variables>
    <variables>
        <name>r_RelatedCR_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChannelResponse__c</objectType>
    </variables>
    <variables>
        <name>r_SecondaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rList_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_BR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_Case.RelatedBrandRelationship__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_EndUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>r_Case.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
